<a href="https://colab.research.google.com/github/kristy25/AcademyPublic/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install -q kaggle
from google.colab import files
files.upload()
#create a kaggle folder
!mkdir ~/.kaggle
# Go on kaggle > Account > Create New API token
# Save the json file in your laptop in a dedicated folder
# copy the kaggle.json to folder created
!cp kaggle.json ~/.kaggle
#permission for the json to act
!chmod 600 ~/.kaggle/kaggle.json
# Datasets available here: 
!kaggle datasets download -d artemkorottchenko/large-boatyacht-pricing-dataset
!unzip large-boatyacht-pricing-dataset.zip

Saving kaggle.json to kaggle.json
Downloading large-boatyacht-pricing-dataset.zip to /content
  0% 0.00/6.22M [00:00<?, ?B/s]
100% 6.22M/6.22M [00:00<00:00, 79.1MB/s]
Archive:  large-boatyacht-pricing-dataset.zip
  inflating: boat_dataset.csv

In [2]:
import pandas as pd
import io
import numpy as np
pd.options.display.max_columns = 100
pd.options.display.max_rows = 50

#io.StringIO is to import the dataset in a clean way, for example there are some German characters...
# for details on encoding (how . or , should be treated), refer to pd.read_csv documentation for details
df = pd.read_csv(io.StringIO(open('/content/boat_dataset.csv', 'rb').read().decode('utf-8', errors='ignore')), sep=",")

#if using df=pd.read_csv('/content/boat_dataset.csv'), there would be an error of decoding
# UnicodeDecodeError: 'utf-8' code can't decode byte 0xc3 in position...

In [ ]:
df.head()

,Price,Category,Boat Type,Manufacturer,Model,Boat name,Type,Year Built,Condition,Length,Width,Depth,Displacement,CE Design Category,Cert Number of People,Number of Cabins,Number of beds,Hull Color,Number of Toilets,Number of Bathrooms,Number of Showers,Material,Fresh Water Cap,Holding Tank,Propulsion,Engine,Engine Performance,Fuel Capacity,Fuel Type,Engine Hours,Max Speed,Cruising Speed,Location,Advertisement Date,Number of views last 7 days,Comments,Additional Comments,Equipment
0,"CHF 3.337,-",Power Boats,Motor Yacht,Rigiflex power boats,CAP 400,NaN,new boat from stock,2017.0,as new,4.00 m,1.90 m,NaN,NaN,NaN,7.0,NaN,NaN,white,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Switzerland » Lake Geneva » Vésenaz,NaN,226,NaN,Possibility to arrange it with a complete luxu...,NaN
1,"EUR 3.490,-",Power Boats,Center console boat,Terhi power boats,400 C,NaN,new boat from stock,2020.0,new,4.00 m,1.50 m,NaN,150 kg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Thermoplastic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Germany » Bönningstedt,NaN,75,"In den Farben weiß oder grün lieferbar.,,2 abs...",NaN,NaN
2,"CHF 3.770,-",Power Boats,Sport Boat,Marine power boats,370 S - Aluboot,NaN,new boat from stock,NaN,NaN,3.69 m,1.42 m,0.25 m,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,Aluminium,NaN,NaN,NaN,(Permission for Lake of Constance),NaN,NaN,NaN,NaN,NaN,NaN,Switzerland » Lake of Zurich » Stäfa ZH,NaN,124,NaN,The lightweight and sleek rowing boat for 4 pe...,NaN
3,"DKK 25.900,-",Power Boats,Sport Boat,Pioner power boats,10 Classic Special Edition,NaN,new boat from stock,2020.0,NaN,3.00 m,1.00 m,NaN,110 kg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Denmark » Svendborg,NaN,64,"MORSOM OG LETKØRT KVALITETSBÅD!,Nye Pioner 10 ...",NaN,NaN
4,"SEK 35.000,-",Power Boats,Classic,NaN,Gullholmensnipa 21,NaN,Used boat,1974.0,good,6.30 m,2.50 m,0.75 m,2'000 kg,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Inboard with Shaft,VolvoPenta MD 2002,1 x 18 HP / 13 kW,50 l,NaN,500 h,NaN,NaN,Nordsee » Västra Frölunda,04.07.2020,131,NaN,NaN,"Anchor,Battery,Bilge Pump,Bilge pump,Cockpit C..."

In [3]:

## Add element in the database for EDUCATIONAL PURPOSE ONLY
# Add random date in order to do a proper temporal split
df['Advertisement Date'] = pd.to_datetime(df['Advertisement Date'], format='%d.%m.%Y')
#Here is a function that will automatically create a feature of random dates between a defined interval
def random_datetimes_or_dates(start, end, out_format='datetime', n=10): 

    '''   
    unix timestamp is in ns by default. 
    I divide the unix time value by 10**9 to make it seconds 
    (or 24*60*60*10**9 to make it days).
    The corresponding unit variable is passed to 
    the pd.to_datetime function. 
    Values for the (divide_by, unit) pair to select is defined by 
    the out_format parameter.
    for 1 -> out_format='datetime'
    for 2 -> out_format=anything else
    '''
    (divide_by, unit) = (10**9, 's') if out_format=='datetime' else (24*60*60*10**9, 'D')

    start_u = start.value//divide_by
    end_u = end.value//divide_by

    return pd.to_datetime(np.random.randint(start_u, end_u, n), unit=unit)


np.random.seed(893717398)
# Set parameters
d_start = pd.to_datetime('2020-01-01')
d_end = pd.to_datetime('2021-12-31')

# Delete initial Advertisement Date -> if you want to keep the inital dates, don't run it
df.drop(columns=['Advertisement Date'], inplace=True)

# Run function
df['Advertisement Date'] = random_datetimes_or_dates(d_start, d_end, out_format='datetime', n=len(df))

# Keep the date and remove the time
df['Advertisement Date']= df['Advertisement Date'].dt.date

# Parse the date
df['Advertisement Date'] = pd.to_datetime(df['Advertisement Date'], format='%Y-%m-%d')

# Impute Advertissement Date by the the created one when they are missing
#df['Advertisement Date'] = np.where(df['Advertisement Date'].isna(), df['date2'], df['Advertisement Date'])

# Delete the random date created
#df.drop(columns=['date2'], inplace=True)

# Create duplicates
temp = df.sample(n=500, random_state=893717398)
df = df.append(temp)
del(temp)
df.reset_index(drop=True, inplace=True)

df['Advertisement Date'] = df['Advertisement Date'].astype(str)

In [ ]:
df.head()

,Price,Category,Boat Type,Manufacturer,Model,Boat name,Type,Year Built,Condition,Length,Width,Depth,Displacement,CE Design Category,Cert Number of People,Number of Cabins,Number of beds,Hull Color,Number of Toilets,Number of Bathrooms,Number of Showers,Material,Fresh Water Cap,Holding Tank,Propulsion,Engine,Engine Performance,Fuel Capacity,Fuel Type,Engine Hours,Max Speed,Cruising Speed,Location,Number of views last 7 days,Comments,Additional Comments,Equipment,Advertisement Date
0,"CHF 3.337,-",Power Boats,Motor Yacht,Rigiflex power boats,CAP 400,NaN,new boat from stock,2017.0,as new,4.00 m,1.90 m,NaN,NaN,NaN,7.0,NaN,NaN,white,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Switzerland » Lake Geneva » Vésenaz,226,NaN,Possibility to arrange it with a complete luxu...,NaN,2021-08-11
1,"EUR 3.490,-",Power Boats,Center console boat,Terhi power boats,400 C,NaN,new boat from stock,2020.0,new,4.00 m,1.50 m,NaN,150 kg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Thermoplastic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Germany » Bönningstedt,75,"In den Farben weiß oder grün lieferbar.,,2 abs...",NaN,NaN,2020-08-19
2,"CHF 3.770,-",Power Boats,Sport Boat,Marine power boats,370 S - Aluboot,NaN,new boat from stock,NaN,NaN,3.69 m,1.42 m,0.25 m,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,Aluminium,NaN,NaN,NaN,(Permission for Lake of Constance),NaN,NaN,NaN,NaN,NaN,NaN,Switzerland » Lake of Zurich » Stäfa ZH,124,NaN,The lightweight and sleek rowing boat for 4 pe...,NaN,2021-01-06
3,"DKK 25.900,-",Power Boats,Sport Boat,Pioner power boats,10 Classic Special Edition,NaN,new boat from stock,2020.0,NaN,3.00 m,1.00 m,NaN,110 kg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Denmark » Svendborg,64,"MORSOM OG LETKØRT KVALITETSBÅD!,Nye Pioner 10 ...",NaN,NaN,2020-08-01
4,"SEK 35.000,-",Power Boats,Classic,NaN,Gullholmensnipa 21,NaN,Used boat,1974.0,good,6.30 m,2.50 m,0.75 m,2'000 kg,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Inboard with Shaft,VolvoPenta MD 2002,1 x 18 HP / 13 kW,50 l,NaN,500 h,NaN,NaN,Nordsee » Västra Frölunda,131,NaN,NaN,"Anchor,Battery,Bilge Pump,Bilge pump,Cockpit C...",2021-05-05

In [ ]:
# small functions that are useful before starting to manipulate the dataset
# shape, dtypes, describe(), info()
# 10844 lines, 38 columns
df.shape

(10844, 38)

In [ ]:
# to check how Python treats the columns, and detect fields to manipulate, e.g. price should be number, not object
df.dtypes

Price                           object
Category                        object
Boat Type                       object
Manufacturer                    object
Model                           object
Boat name                       object
Type                            object
Year Built                     float64
Condition                       object
Length                          object
Width                           object
Depth                           object
Displacement                    object
CE Design Category              object
Cert Number of People          float64
Number of Cabins               float64
Number of beds                 float64
Hull Color                      object
Number of Toilets              float64
Number of Bathrooms            float64
Number of Showers              float64
Material                        object
Fresh Water Cap                 object
Holding Tank                    object
Propulsion                      object
Engine                          object
Engine Performance              object
Fuel Capacity                   object
Fuel Type                       object
Engine Hours                    object
Max Speed                       object
Cruising Speed                  object
Location                        object
Number of views last 7 days     object
Comments                        object
Additional Comments             object
Equipment                       object
Advertisement Date              object
dtype: object

In [ ]:
df.describe()

,Year Built,Cert Number of People,Number of Cabins,Number of beds,Number of Toilets,Number of Bathrooms,Number of Showers
count,10252.000000,3773.000000,6807.000000,6726.000000,2257.000000,484.000000,2040.000000
mean,2004.831155,9.338723,2.145585,4.339578,1.756314,1.295455,1.550490
std,16.330310,23.478952,2.102946,3.902195,2.038631,0.654258,0.925578
min,1885.000000,1.000000,-1.000000,-23.000000,1.000000,1.000000,1.000000
25%,1999.000000,7.000000,1.000000,2.000000,1.000000,1.000000,1.000000
50%,2008.000000,8.000000,2.000000,4.000000,1.000000,1.000000,1.000000
75%,2017.000000,10.000000,3.000000,6.000000,2.000000,1.000000,2.000000
max,2021.000000,1200.000000,96.000000,266.000000,84.000000,6.000000,10.000000

In [ ]:
# have further info like unique, top, freq
df.describe(include='all')

,Price,Category,Boat Type,Manufacturer,Model,Boat name,Type,Year Built,Condition,Length,Width,Depth,Displacement,CE Design Category,Cert Number of People,Number of Cabins,Number of beds,Hull Color,Number of Toilets,Number of Bathrooms,Number of Showers,Material,Fresh Water Cap,Holding Tank,Propulsion,Engine,Engine Performance,Fuel Capacity,Fuel Type,Engine Hours,Max Speed,Cruising Speed,Location,Number of views last 7 days,Comments,Additional Comments,Equipment,Advertisement Date
count,10844,10844,10844,9393,10841,1370,10839,10252.000000,3540,10834,10779,7575,5298,828,3773.000000,6807.000000,6726.000000,3472,2257.000000,484.000000,2040.000000,8902,2222,861,3433,10007,8455,7137,8409,5396,930,567,10800,10457,7437,2553,6481,10844
unique,3283,1,135,932,7458,1258,36,NaN,10,1628,580,264,1380,4,NaN,NaN,NaN,377,NaN,NaN,NaN,11,287,104,8,4752,843,716,6,996,99,57,3177,680,6631,2410,5301,730
top,"EUR 65.000,-",Power Boats,Motor Yacht,Bénéteau power boats,40,Maxima,"Used boat,Diesel",NaN,very good,9.00 m,2.50 m,0.90 m,12000 kg,C - Inshore,NaN,NaN,NaN,white white,NaN,NaN,NaN,GRP,100 l,100 l,Inboard with Shaft,Volvo Penta,1 x 200 HP / 147 kW,400 l,Diesel,500 h,30 knots,25 knots,Netherlands » In verkoophaven,68,Wir sprechen Deutsch. Vermittlungsprovision ni...,"Ex-works price,Not included:,- Motor,- Options...",Battery,2021-10-23
freq,86,10844,2973,697,23,17,4416,NaN,1216,119,386,618,52,421,NaN,NaN,NaN,895,NaN,NaN,NaN,6019,132,89,1242,392,323,242,4988,119,122,72,347,97,136,11,58,28
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2004.831155,NaN,NaN,NaN,NaN,NaN,NaN,9.338723,2.145585,4.339578,NaN,1.756314,1.295455,1.550490,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.330310,NaN,NaN,NaN,NaN,NaN,NaN,23.478952,2.102946,3.902195,NaN,2.038631,0.654258,0.925578,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1885.000000,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,-1.000000,-23.000000,NaN,1.000000,1.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999.000000,NaN,NaN,NaN,NaN,NaN,NaN,7.000000,1.000000,2.000000,NaN,1.000000,1.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008.000000,NaN,NaN,NaN,NaN,NaN,NaN,8.000000,2.000000,4.000000,NaN,1.000000,1.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017.000000,NaN,NaN,NaN,NaN,NaN,NaN,10.000000,3.000000,6.000000,NaN,2.000000,1.000000,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021.000000,NaN,NaN,NaN,NaN,NaN,NaN,1200.000000,96.000000,266.000000,NaN,84.000000,6.000000,10.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# to see how many missing values in each columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10844 entries, 0 to 10843
Data columns (total 38 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Price                        10844 non-null  object
 1   Category                     10844 non-null  object
 2   Boat Type                    10844 non-null  object
 3   Manufacturer                 9393 non-null   object
 4   Model                        10841 non-null  object
 5   Boat name                    1370 non-null   object
 6   Type                         10839 non-null  object
 7   Year Built                   10252 non-null  float64
 8   Condition                    3540 non-null   object
 9   Length                       10834 non-null  object
 10  Width                        10779 non-null  object
 11  Depth                        7575 non-null   object
 12  Displacement                 5298 non-null   object
 13  CE Design Category           828 non-null    object
 14  Cert Number of People        3773 non-null   float64
 15  Number of Cabins             6807 non-null   float64
 16  Number of beds               6726 non-null   float64
 17  Hull Color                   3472 non-null   object
 18  Number of Toilets            2257 non-null   float64
 19  Number of Bathrooms          484 non-null    float64
 20  Number of Showers            2040 non-null   float64
 21  Material                     8902 non-null   object
 22  Fresh Water Cap              2222 non-null   object
 23  Holding Tank                 861 non-null    object
 24  Propulsion                   3433 non-null   object
 25  Engine                       10007 non-null  object
 26  Engine Performance           8455 non-null   object
 27  Fuel Capacity                7137 non-null   object
 28  Fuel Type                    8409 non-null   object
 29  Engine Hours                 5396 non-null   object
 30  Max Speed                    930 non-null    object
 31  Cruising Speed               567 non-null    object
 32  Location                     10800 non-null  object
 33  Number of views last 7 days  10457 non-null  object
 34  Comments                     7437 non-null   object
 35  Additional Comments          2553 non-null   object
 36  Equipment                    6481 non-null   object
 37  Advertisement Date           10844 non-null  object
dtypes: float64(7), object(31)
memory usage: 3.1+ MB

In [ ]:
len(df)

10844

In [ ]:
# 1 [] is series
df['Year Built'].head()

0    2017.0
1    2020.0
2       NaN
3    2020.0
4    1974.0
Name: Year Built, dtype: float64

In [ ]:
# two square brackets [[]] for >=2 columns, [[]] is dataframe
# difference btw series and dataframe is on functions
df[['Year Built','Model']].head()

   Year Built                       Model
0      2017.0                     CAP 400
1      2020.0                       400 C
2         NaN             370 S - Aluboot
3      2020.0  10 Classic Special Edition
4      1974.0          Gullholmensnipa 21

In [ ]:
df[['Year Built','Model','Material']].head()

   Year Built                       Model       Material
0      2017.0                     CAP 400            NaN
1      2020.0                       400 C  Thermoplastic
2         NaN             370 S - Aluboot      Aluminium
3      2020.0  10 Classic Special Edition            NaN
4      1974.0          Gullholmensnipa 21            NaN

In [ ]:
df[df['Year Built']>2000].head()

,Price,Category,Boat Type,Manufacturer,Model,Boat name,Type,Year Built,Condition,Length,Width,Depth,Displacement,CE Design Category,Cert Number of People,Number of Cabins,Number of beds,Hull Color,Number of Toilets,Number of Bathrooms,Number of Showers,Material,Fresh Water Cap,Holding Tank,Propulsion,Engine,Engine Performance,Fuel Capacity,Fuel Type,Engine Hours,Max Speed,Cruising Speed,Location,Number of views last 7 days,Comments,Additional Comments,Equipment,Advertisement Date
0,"CHF 3.337,-",Power Boats,Motor Yacht,Rigiflex power boats,CAP 400,NaN,new boat from stock,2017.0,as new,4.00 m,1.90 m,NaN,NaN,NaN,7.0,NaN,NaN,white,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Switzerland » Lake Geneva » Vésenaz,226,NaN,Possibility to arrange it with a complete luxu...,NaN,2021-08-11
1,"EUR 3.490,-",Power Boats,Center console boat,Terhi power boats,400 C,NaN,new boat from stock,2020.0,new,4.00 m,1.50 m,NaN,150 kg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Thermoplastic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Germany » Bönningstedt,75,"In den Farben weiß oder grün lieferbar.,,2 abs...",NaN,NaN,2020-08-19
3,"DKK 25.900,-",Power Boats,Sport Boat,Pioner power boats,10 Classic Special Edition,NaN,new boat from stock,2020.0,NaN,3.00 m,1.00 m,NaN,110 kg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Denmark » Svendborg,64,"MORSOM OG LETKØRT KVALITETSBÅD!,Nye Pioner 10 ...",NaN,NaN,2020-08-01
5,"EUR 3.399,-",Power Boats,Fishing Boat,Linder power boats,355 Sportsman,NaN,new boat from stock,2019.0,new,3.55 m,1.46 m,NaN,84 kg,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,Aluminium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Germany » Bayern » München,58,NaN,"For engines up to Type 8, the environmentally ...",NaN,2020-02-03
9,"EUR 3.333,-",Power Boats,Fishing Boat,Crescent power boats,364 Rodd 2.5 Pack,NaN,new boat from stock,2019.0,NaN,3.64 m,1.37 m,NaN,77 kg,NaN,NaN,NaN,NaN,white white,NaN,NaN,NaN,NaN,NaN,NaN,"Outboard, four-stroke",Suzuki DF 2.5,1 x 2 HP / 1.5 kW,NaN,NaN,NaN,NaN,NaN,Germany » Bayern » Boote+service Oberbayern,45,NaN,"together with 2 wooden rudders, 3 wooden bench...",Full Enclosure,2021-11-22

In [ ]:
df[df['Year Built']>2000].min()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

Price                    CHF 1.060.000,-
Category                     Power Boats
Boat Type                       Bowrider
Year Built                        2001.0
Cert Number of People                1.0
Number of Cabins                    -1.0
Number of beds                     -23.0
Number of Toilets                    1.0
Number of Bathrooms                  1.0
Number of Showers                    1.0
Advertisement Date            2020-01-01
dtype: object

In [ ]:
# Series.between(Left, right, inclusive='both')
df[df['Year Built'].between(2000,2005)].head()

,Price,Category,Boat Type,Manufacturer,Model,Boat name,Type,Year Built,Condition,Length,Width,Depth,Displacement,CE Design Category,Cert Number of People,Number of Cabins,Number of beds,Hull Color,Number of Toilets,Number of Bathrooms,Number of Showers,Material,Fresh Water Cap,Holding Tank,Propulsion,Engine,Engine Performance,Fuel Capacity,Fuel Type,Engine Hours,Max Speed,Cruising Speed,Location,Number of views last 7 days,Comments,Additional Comments,Equipment,Advertisement Date
14,"EUR 3.500,-",Power Boats,Sport Boat,GS Nautica power boats,470 OPEN,NaN,Used boat,2004.0,good,4.70 m,2.00 m,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GRP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Italy » Lake Garda » Moniga del Garda (BS),69,"Decriptino:,Small open console boat with winds...",NaN,NaN,2021-11-07
57,"CHF 5.700,-",Power Boats,Sport Boat,NaN,415,NaN,"Used boat,Unleaded",2000.0,very good,4.15 m,1.67 m,NaN,NaN,C - Inshore,4.0,NaN,NaN,NaN,NaN,NaN,NaN,GRP,NaN,NaN,"Outboard, four-stroke",Yamaha F8CMHL (Permission for Lake of Constance),1 x 8 HP / 5.9 kW,12 l,Unleaded,NaN,NaN,NaN,Switzerland » Bremgarten b Bern,389,NaN,Trailer Marlin EAO 750 payload 625 KG,"Anchor,Battery,Battery Charger,Navigation ligh...",2021-07-18
77,"CHF 7.000,-",Power Boats,Bowrider,Ecofiber power boats,Lido,NaN,"Used boat,Unleaded",2000.0,very good,4.15 m,1.65 m,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,GRP,NaN,NaN,"Outboard, four-stroke",Yamaha,1 x 40 HP / 29 kW,25 l,Unleaded,NaN,NaN,NaN,Switzerland » Neuenburgersee » Port de Grandson,574,NaN,My boat was assessed in May 2019. I sail regul...,"Anchor,Battery,Bilge Pump,Navigation lights,Sw...",2020-01-20
79,"CHF 8.400,-",Power Boats,"Fishing Boat,Sport Boat",Buster power boats,M,NaN,", ,Used boat,Unleaded",2002.0,very good,4.60 m,1.80 m,0.20 m,300 kg,C - Inshore,5.0,NaN,NaN,NaN,NaN,NaN,NaN,Aluminium,NaN,NaN,"Outboard, four-stroke",Yamaha F40BETL,1 x 40 HP / 29 kW,37 l,Unleaded,NaN,NaN,NaN,Switzerland » Bielersee » Le Landeron,NaN,NaN,A perfect boat for every occasion such as excu...,"Anchor,Battery,Bilge Pump,Bimini Top,Fire Exti...",2021-02-24
91,"EUR 7.500,-",Power Boats,Center console boat,B2 Marine power boats,CAP FERRET 550 OPEN,NaN,"Used boat,Unleaded",2005.0,NaN,5.23 m,2.15 m,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PVC,NaN,NaN,NaN,HONDA,1 x 90 HP / 66 kW,NaN,Unleaded,NaN,NaN,NaN,"France » Saint Quay Portrieux, France",131,Coque Open de 2005 en bon état équipé du moteu...,NaN,"Bimini Top,Depth Instrument",2020-02-10

In [ ]:
df[df['Year Built'].between(2000,2005,inclusive='right')].max()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

Price                                    £ 99.999,-
Category                                Power Boats
Boat Type                              Working Boat
Type                     new boat from stock,Diesel
Year Built                                   2005.0
Cert Number of People                        1200.0
Number of Cabins                                6.0
Number of beds                                 12.0
Number of Toilets                               7.0
Number of Bathrooms                             4.0
Number of Showers                               6.0
Advertisement Date                       2021-12-30
dtype: object

In [ ]:
df[df['Year Built'].between(2000,2005)][['Category','Fuel Type']]

          Category Fuel Type
14     Power Boats       NaN
57     Power Boats  Unleaded
77     Power Boats  Unleaded
79     Power Boats  Unleaded
91     Power Boats  Unleaded
...            ...       ...
10809  Power Boats    Diesel
10812  Power Boats    Diesel
10820  Power Boats       NaN
10824  Power Boats    Diesel
10835  Power Boats    Diesel

[1537 rows x 2 columns]

In [ ]:
# & means and, | means or
# mask is a condition
mask = ((df['Year Built']<=2001) | (df['Year Built']>=2011)) & (df['Number of Cabins']<=2)
df[mask].head()

,Price,Category,Boat Type,Manufacturer,Model,Boat name,Type,Year Built,Condition,Length,Width,Depth,Displacement,CE Design Category,Cert Number of People,Number of Cabins,Number of beds,Hull Color,Number of Toilets,Number of Bathrooms,Number of Showers,Material,Fresh Water Cap,Holding Tank,Propulsion,Engine,Engine Performance,Fuel Capacity,Fuel Type,Engine Hours,Max Speed,Cruising Speed,Location,Number of views last 7 days,Comments,Additional Comments,Equipment,Advertisement Date
21,"EUR 4.000,-",Power Boats,Pilothouse,Bénéteau power boats,ANTARES 750 IB,L'ANTONIN,"Used boat,Diesel",1981.0,NaN,8.00 m,2.84 m,0.80 m,NaN,NaN,NaN,1.0,4.0,White,NaN,NaN,NaN,PVC,NaN,NaN,NaN,RENAULT COUACH,1 x 145 HP / 107 kW,160 l,Diesel,2850 h,NaN,NaN,"France » MARTGUES, MARTIGUES",265,Une légendaire robustesse de construction : Co...,NaN,NaN,2021-10-21
22,"EUR 4.000,-",Power Boats,Cabin Boat,NaN,Backdecker,NaN,"Used boat,Unleaded",2011.0,good,6.37 m,2.31 m,0.45 m,800 kg,NaN,3.0,2.0,3.0,NaN,NaN,1.0,NaN,GRP,NaN,NaN,"Outboard, four-stroke",Mercury,1 x 5 HP / 3.7 kW,54 l,Unleaded,9 h,NaN,NaN,Germany » Bayern » Forchheim/Ofr.,330,NaN,NaN,Swim Ladder,2020-03-15
40,"CHF 3.800,-",Power Boats,Cabin Boat,Draco power boats,2100,NaN,"Used boat,Unleaded",1980.0,well-groomed,6.20 m,2.45 m,0.60 m,1'450 kg,NaN,7.0,1.0,1.0,NaN,NaN,NaN,NaN,GRP,NaN,NaN,Sterndrive,Mercruiser/MCM 470,1 x 170 HP / 125 kW,NaN,Unleaded,1130 h,NaN,NaN,Switzerland » Walensee » Walenstadt,1'804,NaN,-Allround boat for the whole family in good co...,"Anchor,Battery,Bilge Pump,Bilge pump,Bimini To...",2020-01-18
41,"CHF 3.800,-",Power Boats,Fishing Boat,Hensa power boats,De Luxe Combi,NaN,"Used boat,Unleaded",1974.0,well-groomed,5.40 m,1.67 m,NaN,NaN,NaN,5.0,1.0,NaN,NaN,NaN,NaN,NaN,Plastic,NaN,NaN,"Outboard, four-stroke",Suzuki DF6AL,1 x 6 HP / 4.4 kW,12 l,Unleaded,3 h,NaN,NaN,Switzerland » Sihlsee,849,NaN,"Motorboat:,Hensa De Luxe Combi born 1974,Lengt...",Anchor,2020-03-20
67,"CHF 7.000,-",Power Boats,Sport Boat,Nuova power boats,Fiberglass / Winner 18,NaN,"Used boat,Unleaded",1986.0,good,6.02 m,2.37 m,NaN,NaN,C - Inshore,6.0,1.0,NaN,NaN,NaN,NaN,NaN,GRP,NaN,NaN,Sterndrive,Mercruiser,1 x 205 HP / 151 kW,100 l,Unleaded,705 h,NaN,NaN,Switzerland » Bielersee » Kleinboothafen Biel,NaN,NaN,NaN,"Anchor,Battery,Bilge Pump,Compass,Fire Extingu...",2021-12-16

In [ ]:
# missing value is not considered a number, so it won't be in the filter
df['Number of Cabins'].isna().sum()

4037

In [ ]:
mask = ((df['Year Built']<=2001) | (df['Year Built']>=2011)) & ((df['Number of Cabins']<=2) & (df['Number of Cabins'].isna()))
df[mask]['Number of Cabins'].isna().sum()

0

In [ ]:
mask4 = ((df['Year Built']<=2001) | (df['Year Built']>=2011)) & (df['Number of Cabins']<=2) & (df['Fuel Type']=='Diesel')
df[mask4].head()

,Price,Category,Boat Type,Manufacturer,Model,Boat name,Type,Year Built,Condition,Length,Width,Depth,Displacement,CE Design Category,Cert Number of People,Number of Cabins,Number of beds,Hull Color,Number of Toilets,Number of Bathrooms,Number of Showers,Material,Fresh Water Cap,Holding Tank,Propulsion,Engine,Engine Performance,Fuel Capacity,Fuel Type,Engine Hours,Max Speed,Cruising Speed,Location,Number of views last 7 days,Comments,Additional Comments,Equipment,Advertisement Date
21,"EUR 4.000,-",Power Boats,Pilothouse,Bénéteau power boats,ANTARES 750 IB,L'ANTONIN,"Used boat,Diesel",1981.0,NaN,8.00 m,2.84 m,0.80 m,NaN,NaN,NaN,1.0,4.0,White,NaN,NaN,NaN,PVC,NaN,NaN,NaN,RENAULT COUACH,1 x 145 HP / 107 kW,160 l,Diesel,2850 h,NaN,NaN,"France » MARTGUES, MARTIGUES",265,Une légendaire robustesse de construction : Co...,NaN,NaN,2021-10-21
68,"EUR 6.500,-",Power Boats,Cabin Boat,Cranchi power boats,C 6 (Diesel),NaN,"Used boat,Diesel",1990.0,NaN,6.28 m,2.27 m,NaN,NaN,NaN,NaN,1.0,2.0,NaN,NaN,NaN,NaN,GRP,NaN,NaN,NaN,VM Motori 170 TD,1 x 170 HP / 125 kW,NaN,Diesel,300 h,NaN,NaN,Italy » Venezia,85,"Domestic Facilities onboard:,Manual Toilet.,,U...",NaN,"Battery,Generator",2020-09-21
123,"EUR 9.500,-",Power Boats,Motor Yacht,Cox Marine power boats,Cox 22,NaN,"Used boat,Diesel",1985.0,very good,6.80 m,2.50 m,0.60 m,NaN,NaN,NaN,1.0,NaN,blue,1.0,NaN,1.0,GRP,100 l,NaN,Inboard with Shaft,Yanmar 2GM20F,NaN,60 l,Diesel,NaN,NaN,NaN,Germany » Brandenburg » Berlin / Brandenburg,162,Die Cox ist ein englischer Klassiker und hat m...,NaN,NaN,2020-12-29
138,"EUR 10.000,-",Power Boats,"Cabin Boat,Trawler",Werner power boats,ehemals Polizeiboot,NaN,", ,Used boat,Diesel",1940.0,good,12.50 m,2.50 m,0.90 m,NaN,D - Sheltered waters,6.0,1.0,1.0,NaN,NaN,1.0,NaN,Steel,40 l,60 l,Inboard with Shaft,Sole Diesel,1 x 45 HP / 33 kW,200 l,Diesel,1350 h,NaN,NaN,Germany » Brandenburg » Zehdenick,900,NaN,Solar plant,"Anchor,Battery,Bilge Pump,Bilge pump,Ceran Sto...",2020-12-12
157,"EUR 10.990,-",Power Boats,Cabin Boat,Polar power boats,22,Polar 22 mit neuem Refit 2019 (,Diesel,1977.0,NaN,6.70 m,2.30 m,0.60 m,NaN,NaN,NaN,1.0,4.0,weiss,NaN,NaN,NaN,GRP,NaN,NaN,NaN,1 x 23 HP / 17 kW,1 x 23 HP / 17 kW,40 l,Diesel,NaN,NaN,NaN,Germany » Ostsee » Rügen/Ostsee,136,"Polar 22,,Der abgebildetet hafetrailer kann op...",NaN,NaN,2020-03-31

In [ ]:
#.isin(list_to_keep) for a lot of categories
list_to_keep = ['Diesel', 'Electric']
mask5=((df['Year Built']<=2001) | (df['Year Built']>=2011)) & (df['Number of Cabins']<=2) & (df['Fuel Type'].isin(list_to_keep))
df[mask5].head()

,Price,Category,Boat Type,Manufacturer,Model,Boat name,Type,Year Built,Condition,Length,Width,Depth,Displacement,CE Design Category,Cert Number of People,Number of Cabins,Number of beds,Hull Color,Number of Toilets,Number of Bathrooms,Number of Showers,Material,Fresh Water Cap,Holding Tank,Propulsion,Engine,Engine Performance,Fuel Capacity,Fuel Type,Engine Hours,Max Speed,Cruising Speed,Location,Number of views last 7 days,Comments,Additional Comments,Equipment,Advertisement Date
21,"EUR 4.000,-",Power Boats,Pilothouse,Bénéteau power boats,ANTARES 750 IB,L'ANTONIN,"Used boat,Diesel",1981.0,NaN,8.00 m,2.84 m,0.80 m,NaN,NaN,NaN,1.0,4.0,White,NaN,NaN,NaN,PVC,NaN,NaN,NaN,RENAULT COUACH,1 x 145 HP / 107 kW,160 l,Diesel,2850 h,NaN,NaN,"France » MARTGUES, MARTIGUES",265,Une légendaire robustesse de construction : Co...,NaN,NaN,2021-10-21
68,"EUR 6.500,-",Power Boats,Cabin Boat,Cranchi power boats,C 6 (Diesel),NaN,"Used boat,Diesel",1990.0,NaN,6.28 m,2.27 m,NaN,NaN,NaN,NaN,1.0,2.0,NaN,NaN,NaN,NaN,GRP,NaN,NaN,NaN,VM Motori 170 TD,1 x 170 HP / 125 kW,NaN,Diesel,300 h,NaN,NaN,Italy » Venezia,85,"Domestic Facilities onboard:,Manual Toilet.,,U...",NaN,"Battery,Generator",2020-09-21
123,"EUR 9.500,-",Power Boats,Motor Yacht,Cox Marine power boats,Cox 22,NaN,"Used boat,Diesel",1985.0,very good,6.80 m,2.50 m,0.60 m,NaN,NaN,NaN,1.0,NaN,blue,1.0,NaN,1.0,GRP,100 l,NaN,Inboard with Shaft,Yanmar 2GM20F,NaN,60 l,Diesel,NaN,NaN,NaN,Germany » Brandenburg » Berlin / Brandenburg,162,Die Cox ist ein englischer Klassiker und hat m...,NaN,NaN,2020-12-29
138,"EUR 10.000,-",Power Boats,"Cabin Boat,Trawler",Werner power boats,ehemals Polizeiboot,NaN,", ,Used boat,Diesel",1940.0,good,12.50 m,2.50 m,0.90 m,NaN,D - Sheltered waters,6.0,1.0,1.0,NaN,NaN,1.0,NaN,Steel,40 l,60 l,Inboard with Shaft,Sole Diesel,1 x 45 HP / 33 kW,200 l,Diesel,1350 h,NaN,NaN,Germany » Brandenburg » Zehdenick,900,NaN,Solar plant,"Anchor,Battery,Bilge Pump,Bilge pump,Ceran Sto...",2020-12-12
157,"EUR 10.990,-",Power Boats,Cabin Boat,Polar power boats,22,Polar 22 mit neuem Refit 2019 (,Diesel,1977.0,NaN,6.70 m,2.30 m,0.60 m,NaN,NaN,NaN,1.0,4.0,weiss,NaN,NaN,NaN,GRP,NaN,NaN,NaN,1 x 23 HP / 17 kW,1 x 23 HP / 17 kW,40 l,Diesel,NaN,NaN,NaN,Germany » Ostsee » Rügen/Ostsee,136,"Polar 22,,Der abgebildetet hafetrailer kann op...",NaN,NaN,2020-03-31

In [ ]:
# # ~ isin means not in
mask6=((df['Year Built']<=2001) | (df['Year Built']>=2011)) & (df['Number of Cabins']<=2) & (~df['Fuel Type'].isin(list_to_keep))
df[mask6].head()

,Price,Category,Boat Type,Manufacturer,Model,Boat name,Type,Year Built,Condition,Length,Width,Depth,Displacement,CE Design Category,Cert Number of People,Number of Cabins,Number of beds,Hull Color,Number of Toilets,Number of Bathrooms,Number of Showers,Material,Fresh Water Cap,Holding Tank,Propulsion,Engine,Engine Performance,Fuel Capacity,Fuel Type,Engine Hours,Max Speed,Cruising Speed,Location,Number of views last 7 days,Comments,Additional Comments,Equipment,Advertisement Date
22,"EUR 4.000,-",Power Boats,Cabin Boat,NaN,Backdecker,NaN,"Used boat,Unleaded",2011.0,good,6.37 m,2.31 m,0.45 m,800 kg,NaN,3.0,2.0,3.0,NaN,NaN,1.0,NaN,GRP,NaN,NaN,"Outboard, four-stroke",Mercury,1 x 5 HP / 3.7 kW,54 l,Unleaded,9 h,NaN,NaN,Germany » Bayern » Forchheim/Ofr.,330,NaN,NaN,Swim Ladder,2020-03-15
40,"CHF 3.800,-",Power Boats,Cabin Boat,Draco power boats,2100,NaN,"Used boat,Unleaded",1980.0,well-groomed,6.20 m,2.45 m,0.60 m,1'450 kg,NaN,7.0,1.0,1.0,NaN,NaN,NaN,NaN,GRP,NaN,NaN,Sterndrive,Mercruiser/MCM 470,1 x 170 HP / 125 kW,NaN,Unleaded,1130 h,NaN,NaN,Switzerland » Walensee » Walenstadt,1'804,NaN,-Allround boat for the whole family in good co...,"Anchor,Battery,Bilge Pump,Bilge pump,Bimini To...",2020-01-18
41,"CHF 3.800,-",Power Boats,Fishing Boat,Hensa power boats,De Luxe Combi,NaN,"Used boat,Unleaded",1974.0,well-groomed,5.40 m,1.67 m,NaN,NaN,NaN,5.0,1.0,NaN,NaN,NaN,NaN,NaN,Plastic,NaN,NaN,"Outboard, four-stroke",Suzuki DF6AL,1 x 6 HP / 4.4 kW,12 l,Unleaded,3 h,NaN,NaN,Switzerland » Sihlsee,849,NaN,"Motorboat:,Hensa De Luxe Combi born 1974,Lengt...",Anchor,2020-03-20
67,"CHF 7.000,-",Power Boats,Sport Boat,Nuova power boats,Fiberglass / Winner 18,NaN,"Used boat,Unleaded",1986.0,good,6.02 m,2.37 m,NaN,NaN,C - Inshore,6.0,1.0,NaN,NaN,NaN,NaN,NaN,GRP,NaN,NaN,Sterndrive,Mercruiser,1 x 205 HP / 151 kW,100 l,Unleaded,705 h,NaN,NaN,Switzerland » Bielersee » Kleinboothafen Biel,NaN,NaN,NaN,"Anchor,Battery,Bilge Pump,Compass,Fire Extingu...",2021-12-16
76,"CHF 7.000,-",Power Boats,Cabin Boat,Fjord power boats,Weekender 24,NaN,"Used boat,Unleaded",1980.0,to be done up,7.26 m,2.90 m,1.00 m,2'800 kg,D - Sheltered waters,8.0,1.0,2.0,NaN,NaN,1.0,NaN,GRP,NaN,NaN,Sterndrive,Volvo Penta 260A,1 x 260 HP / 191 kW,250 l,Unleaded,1593 h,NaN,NaN,Switzerland » Lake Geneva » Roche,866,NaN,"Boat in good condition, engine at end of life....","Anchor,Battery,Battery Charger,Bilge Pump,Cock...",2021-03-10

In [ ]:
# !=2
mask7=((df['Year Built']<=2001) | (df['Year Built']>=2011)) & (df['Number of Cabins']!=2) & (~df['Fuel Type'].isin(list_to_keep))
df[mask7]['Number of Cabins'].unique()

array([nan,  1., -1.,  3.,  4.,  6.,  8.,  5.,  9., 10.])

In [ ]:
df['Fuel Type'].value_counts()

Diesel      4988
Unleaded    3343
Electric      58
Gas           17
Hybrid         2
Propane        1
Name: Fuel Type, dtype: int64

In [ ]:
np.round(df['Fuel Type'].value_counts(normalize=True,dropna=False)*100, decimals=2)

Diesel      46.00
Unleaded    30.83
NaN         22.45
Electric     0.53
Gas          0.16
Hybrid       0.02
Propane      0.01
Name: Fuel Type, dtype: float64

In [ ]:
np.round(df['Fuel Type'].value_counts(normalize=True)*100, decimals=2)

Diesel      59.32
Unleaded    39.76
Electric     0.69
Gas          0.20
Hybrid       0.02
Propane      0.01
Name: Fuel Type, dtype: float64

In [ ]:
df['Advertisement Date'].head()

0    2021-08-11
1    2020-08-19
2    2021-01-06
3    2020-08-01
4    2021-05-05
Name: Advertisement Date, dtype: object

In [4]:
df['Advertisement Date']=pd.to_datetime(df['Advertisement Date'],format='%Y-%m-%d')

In [ ]:
df.dtypes

Price                                  object
Category                               object
Boat Type                              object
Manufacturer                           object
Model                                  object
Boat name                              object
Type                                   object
Year Built                            float64
Condition                              object
Length                                 object
Width                                  object
Depth                                  object
Displacement                           object
CE Design Category                     object
Cert Number of People                 float64
Number of Cabins                      float64
Number of beds                        float64
Hull Color                             object
Number of Toilets                     float64
Number of Bathrooms                   float64
Number of Showers                     float64
Material                               object
Fresh Water Cap                        object
Holding Tank                           object
Propulsion                             object
Engine                                 object
Engine Performance                     object
Fuel Capacity                          object
Fuel Type                              object
Engine Hours                           object
Max Speed                              object
Cruising Speed                         object
Location                               object
Number of views last 7 days            object
Comments                               object
Additional Comments                    object
Equipment                              object
Advertisement Date             datetime64[ns]
dtype: object

In [5]:
# Series.str.rstrip, strip whitespces or a set of specified characters from each string from right side
# to strip the ' m' in the field
df['Length']=df['Length'].str.rstrip(' m')
# to change Length from object to number
df['Length']=pd.to_numeric(df['Length'])

In [ ]:
df['Length'].unique()

array([4.  , 3.69, 3.  , ..., 4.38, 4.17, 3.6 ])

In [ ]:
df['Length'].dtypes

dtype('float64')

In [6]:
def format_series(series,char):
  new_series=series.str.rstrip(char)
  new_series=pd.to_numeric(new_series)

  return new_series

In [ ]:
df[['Length','Width','Depth']].head()

   Length   Width   Depth
0    4.00  1.90 m     NaN
1    4.00  1.50 m     NaN
2    3.69  1.42 m  0.25 m
3    3.00  1.00 m     NaN
4    6.30  2.50 m  0.75 m

In [7]:
for i in ['Width','Depth']:
  df[i]=format_series(df[i],' m')

In [8]:
df[['Length','Width','Depth']].head()

   Length  Width  Depth
0    4.00   1.90    NaN
1    4.00   1.50    NaN
2    3.69   1.42   0.25
3    3.00   1.00    NaN
4    6.30   2.50   0.75

In [9]:
df['Engine Hours']=format_series(df['Engine Hours'],' h')

for i in ['Fresh Water Cap','Holding Tank', 'Fuel Capacity']:
  df[i]=format_series(df[i],' l')

   Fresh Water Cap  Holding Tank  Fuel Capacity
0              NaN           NaN            NaN
1              NaN           NaN            NaN
2              NaN           NaN            NaN
3              NaN           NaN            NaN
4              NaN           NaN           50.0

In [10]:
# to rename the columns
df=df.rename(columns={'Length':'Length (m)'})
df.head()

,Price,Category,Boat Type,Manufacturer,Model,Boat name,Type,Year Built,Condition,Length (m),Width,Depth,Displacement,CE Design Category,Cert Number of People,Number of Cabins,Number of beds,Hull Color,Number of Toilets,Number of Bathrooms,Number of Showers,Material,Fresh Water Cap,Holding Tank,Propulsion,Engine,Engine Performance,Fuel Capacity,Fuel Type,Engine Hours,Max Speed,Cruising Speed,Location,Number of views last 7 days,Comments,Additional Comments,Equipment,Advertisement Date
0,"CHF 3.337,-",Power Boats,Motor Yacht,Rigiflex power boats,CAP 400,NaN,new boat from stock,2017.0,as new,4.00,1.90,NaN,NaN,NaN,7.0,NaN,NaN,white,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Switzerland » Lake Geneva » Vésenaz,226,NaN,Possibility to arrange it with a complete luxu...,NaN,2021-08-11
1,"EUR 3.490,-",Power Boats,Center console boat,Terhi power boats,400 C,NaN,new boat from stock,2020.0,new,4.00,1.50,NaN,150 kg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Thermoplastic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Germany » Bönningstedt,75,"In den Farben weiß oder grün lieferbar.,,2 abs...",NaN,NaN,2020-08-19
2,"CHF 3.770,-",Power Boats,Sport Boat,Marine power boats,370 S - Aluboot,NaN,new boat from stock,NaN,NaN,3.69,1.42,0.25,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,Aluminium,NaN,NaN,NaN,(Permission for Lake of Constance),NaN,NaN,NaN,NaN,NaN,NaN,Switzerland » Lake of Zurich » Stäfa ZH,124,NaN,The lightweight and sleek rowing boat for 4 pe...,NaN,2021-01-06
3,"DKK 25.900,-",Power Boats,Sport Boat,Pioner power boats,10 Classic Special Edition,NaN,new boat from stock,2020.0,NaN,3.00,1.00,NaN,110 kg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Denmark » Svendborg,64,"MORSOM OG LETKØRT KVALITETSBÅD!,Nye Pioner 10 ...",NaN,NaN,2020-08-01
4,"SEK 35.000,-",Power Boats,Classic,NaN,Gullholmensnipa 21,NaN,Used boat,1974.0,good,6.30,2.50,0.75,2'000 kg,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Inboard with Shaft,VolvoPenta MD 2002,1 x 18 HP / 13 kW,50.0,NaN,500.0,NaN,NaN,Nordsee » Västra Frölunda,131,NaN,NaN,"Anchor,Battery,Bilge Pump,Bilge pump,Cockpit C...",2021-05-05

In [ ]:
df.dtypes

Price                                  object
Category                               object
Boat Type                              object
Manufacturer                           object
Model                                  object
Boat name                              object
Type                                   object
Year Built                            float64
Condition                              object
Length (m)                            float64
Width                                 float64
Depth                                 float64
Displacement                           object
CE Design Category                     object
Cert Number of People                 float64
Number of Cabins                      float64
Number of beds                        float64
Hull Color                             object
Number of Toilets                     float64
Number of Bathrooms                   float64
Number of Showers                     float64
Material                               object
Fresh Water Cap                       float64
Holding Tank                          float64
Propulsion                             object
Engine                                 object
Engine Performance                     object
Fuel Capacity                         float64
Fuel Type                              object
Engine Hours                          float64
Max Speed                              object
Cruising Speed                         object
Location                               object
Number of views last 7 days            object
Comments                               object
Additional Comments                    object
Equipment                              object
Advertisement Date             datetime64[ns]
dtype: object

In [11]:
df = df.rename(columns={'Width':'Width (m)', 'Depth':'Depth (m)',
                        'Fresh Water Cap':'Fresh Water Cap (l)', 'Holding Tank':'Holding Tank (l)', 'Fuel Capacity':'Fuel Capacity (l)'})

In [12]:
# Let's see if we have constant features
col_object_l = df.select_dtypes(include='object').columns # Stock les colonnes
for col in col_object_l:
    print(f"Column {col} has {df[col].nunique()} categories\n")

Column Price has 3283 categories

Column Category has 1 categories

Column Boat Type has 135 categories

Column Manufacturer has 932 categories

Column Model has 7458 categories

Column Boat name has 1258 categories

Column Type has 36 categories

Column Condition has 10 categories

Column Displacement has 1380 categories

Column CE Design Category has 4 categories

Column Hull Color has 377 categories

Column Material has 11 categories

Column Propulsion has 8 categories

Column Engine has 4752 categories

Column Engine Performance has 843 categories

Column Fuel Type has 6 categories

Column Max Speed has 99 categories

Column Cruising Speed has 57 categories

Column Location has 3177 categories

Column Number of views last 7 days has 680 categories

Column Comments has 6631 categories

Column Additional Comments has 2410 categories

Column Equipment has 5301 categories

In [ ]:
# select only object fields
col_object_l = df.select_dtypes(include='object').columns # Stock les colonnes
for col in col_object_l:
    print("Column {col} has {df[col].nunique()} categories\n")

Column {col} has {df[col].nunique()} categories

Column {col} has {df[col].nunique()} categories

Column {col} has {df[col].nunique()} categories

Column {col} has {df[col].nunique()} categories

Column {col} has {df[col].nunique()} categories

Column {col} has {df[col].nunique()} categories

Column {col} has {df[col].nunique()} categories

Column {col} has {df[col].nunique()} categories

Column {col} has {df[col].nunique()} categories

Column {col} has {df[col].nunique()} categories

Column {col} has {df[col].nunique()} categories

Column {col} has {df[col].nunique()} categories

Column {col} has {df[col].nunique()} categories

Column {col} has {df[col].nunique()} categories

Column {col} has {df[col].nunique()} categories

Column {col} has {df[col].nunique()} categories

Column {col} has {df[col].nunique()} categories

Column {col} has {df[col].nunique()} categories

Column {col} has {df[col].nunique()} categories

Column {col} has {df[col].nunique()} categories

Column {col} has {df[col].nunique()} categories

Column {col} has {df[col].nunique()} categories

Column {col} has {df[col].nunique()} categories

In [ ]:
col_object_l = df.select_dtypes(include='object').columns
col_object_l

Index(['Price', 'Category', 'Boat Type', 'Manufacturer', 'Model', 'Boat name',
       'Type', 'Condition', 'Displacement', 'CE Design Category', 'Hull Color',
       'Material', 'Propulsion', 'Engine', 'Engine Performance', 'Fuel Type',
       'Max Speed', 'Cruising Speed', 'Location',
       'Number of views last 7 days', 'Comments', 'Additional Comments',
       'Equipment'],
      dtype='object')

In [ ]:
# Me: use + to concatenate strings
# str(int) to transform int to str to be able to concatenate with string
print(f"Column {col_object_l[0]} has {df[col_object_l[0]].nunique()} categories\n")

Column Price has 3283 categories

In [ ]:
print("Column " + col_object_l[0] +" has" + str(df[col_object_l[0]].nunique()) + " categories\n")

Column Price has3283 categories

In [13]:
list_to_delete=['Category','Displacement','Number of views last 7 days','Comments','Additional Comments']
df.drop(columns=list_to_delete, inplace=True)

In [14]:
# Now let's split the data in 2 parts for the moment:
# train_val & test
# Split will be done on a temporal basis

# for test, 6m would be minimal, 1 year would be ideal
df.set_index(['Advertisement Date']).resample('M').size()

Advertisement Date
2020-01-31    442
2020-02-29    463
2020-03-31    447
2020-04-30    426
2020-05-31    478
2020-06-30    422
2020-07-31    468
2020-08-31    500
2020-09-30    464
2020-10-31    433
2020-11-30    415
2020-12-31    470
2021-01-31    463
2021-02-28    407
2021-03-31    475
2021-04-30    456
2021-05-31    484
2021-06-30    434
2021-07-31    443
2021-08-31    431
2021-09-30    428
2021-10-31    517
2021-11-30    437
2021-12-31    441
Freq: M, dtype: int64

In [20]:
# Let's have Train & Validation for the data of 2020 and Test for the data of 2021
train_val = df[df['Advertisement Date'] < '2021-01-01'].reset_index(drop=True)

# Création du test
test = df[df['Advertisement Date'] >= '2021-01-01'].reset_index(drop=True)

In [21]:
train_val.duplicated(keep=False)

0       False
1       False
2       False
3       False
4       False
        ...
5423     True
5424     True
5425     True
5426     True
5427     True
Length: 5428, dtype: bool

In [47]:
# 5 features to represents a unique boat.
features_analyze_duplicates = ['Model', 'Type', 'Year Built','Location', 'Equipment']

# sort the features for a better display of the false duplicates
cols_sort = features_analyze_duplicates + [col for col in train_val.columns if col not in features_analyze_duplicates]

In [22]:
train_val = train_val.drop_duplicates(keep='first')

In [23]:
# First, delete the price having the value `Price on request`
train_val = train_val[train_val['Price'] != 'Price on request']

In [24]:
# Create a conversion table
create_change = {'Currency_A': ['EUR', 'GBP', 'DKK', 'SEK', 'USD', 'CHF'], 
               'Currency_B': ['CHF', 'CHF', 'CHF', 'CHF', 'CHF', 'CHF'], 
               'Change': [1.05, 1.24, 0.14, 0.11, 0.92, 1]}

change = pd.DataFrame(data=create_change)
change

  Currency_A Currency_B  Change
0        EUR        CHF    1.05
1        GBP        CHF    1.24
2        DKK        CHF    0.14
3        SEK        CHF    0.11
4        USD        CHF    0.92
5        CHF        CHF    1.00

In [25]:
dict_change = dict(zip(change.iloc[:,0], change.iloc[:,2]))
dict_change

{'CHF': 1.0, 'DKK': 0.14, 'EUR': 1.05, 'GBP': 1.24, 'SEK': 0.11, 'USD': 0.92}

In [26]:
# to split the str by the space
data_part = train_val['Price'].str.partition(' ')         # exemple : EUR 3.490,-  -> ('EUR', ' ', '3.490,-')
data_part

        0  1         2
0     EUR      3.490,-
1     DKK     25.900,-
2     EUR      3.399,-
3     CHF      3.500,-
4     CHF      3.480,-
...   ... ..       ...
5179  CHF      4.950,-
5180  CHF      4.900,-
5181  EUR      4.516,-
5182  EUR      4.499,-
5183  CHF      3.780,-

[5159 rows x 3 columns]

In [27]:
# Replace '£' by 'GBP' for the change dictionnary
data_part[0] = data_part[0].str.replace('£', 'GBP')          # data_part[0] = first column of the DataFrame who save the first value of the tuples
data_part

        0  1         2
0     EUR      3.490,-
1     DKK     25.900,-
2     EUR      3.399,-
3     CHF      3.500,-
4     CHF      3.480,-
...   ... ..       ...
5179  CHF      4.950,-
5180  CHF      4.900,-
5181  EUR      4.516,-
5182  EUR      4.499,-
5183  CHF      3.780,-

[5159 rows x 3 columns]

In [29]:
 # delete '.' who split the thousand in the price      
data_part[2] = data_part[2].str.replace('.', '')             # data_part[2] = third column of the DataFrame who save the first value of the tuples
data_part

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

        0  1        2
0     EUR      3490,-
1     DKK     25900,-
2     EUR      3399,-
3     CHF      3500,-
4     CHF      3480,-
...   ... ..      ...
5179  CHF      4950,-
5180  CHF      4900,-
5181  EUR      4516,-
5182  EUR      4499,-
5183  CHF      3780,-

[5159 rows x 3 columns]

In [30]:
# delete ',-' to get the price
data_part[2] = data_part[2].str.replace(',-', '')
data_part

        0  1      2
0     EUR      3490
1     DKK     25900
2     EUR      3399
3     CHF      3500
4     CHF      3480
...   ... ..    ...
5179  CHF      4950
5180  CHF      4900
5181  EUR      4516
5182  EUR      4499
5183  CHF      3780

[5159 rows x 3 columns]

In [31]:
data_part.dtypes

0    object
1    object
2    object
dtype: object

In [33]:
 # Convert the column in float in order to do the comparison
data_part[2] = data_part[2].astype(float, errors = 'raise')
data_part.dtypes

0     object
1     object
2    float64
dtype: object

In [34]:
 # price conversion, to convert all into CHF using the conversion table in dict_change, with the key as the name of currentcy
new_price = data_part.apply(lambda x: dict_change[x[0]] * x[2], axis=1)
new_price

0       3664.50
1       3626.00
2       3568.95
3       3500.00
4       3480.00
         ...
5179    4950.00
5180    4900.00
5181    4741.80
5182    4723.95
5183    3780.00
Length: 5159, dtype: float64

In [35]:
train_val.head()

,Price,Boat Type,Manufacturer,Model,Boat name,Type,Year Built,Condition,Length (m),Width (m),Depth (m),CE Design Category,Cert Number of People,Number of Cabins,Number of beds,Hull Color,Number of Toilets,Number of Bathrooms,Number of Showers,Material,Fresh Water Cap (l),Holding Tank (l),Propulsion,Engine,Engine Performance,Fuel Capacity (l),Fuel Type,Engine Hours,Max Speed,Cruising Speed,Location,Equipment,Advertisement Date
0,"EUR 3.490,-",Center console boat,Terhi power boats,400 C,NaN,new boat from stock,2020.0,new,4.00,1.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Thermoplastic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Germany » Bönningstedt,NaN,2020-08-19
1,"DKK 25.900,-",Sport Boat,Pioner power boats,10 Classic Special Edition,NaN,new boat from stock,2020.0,NaN,3.00,1.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Denmark » Svendborg,NaN,2020-08-01
2,"EUR 3.399,-",Fishing Boat,Linder power boats,355 Sportsman,NaN,new boat from stock,2019.0,new,3.55,1.46,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,Aluminium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Germany » Bayern » München,NaN,2020-02-03
3,"CHF 3.500,-",Sport Boat,Four Winns power boats,170 Freedom,NaN,"Used boat,Unleaded",1991.0,good,5.60,2.20,NaN,NaN,6.0,NaN,NaN,NaN,NaN,NaN,NaN,GRP,NaN,NaN,Sterndrive,OMC Cobra,1 x 130 HP / 96 kW,80.0,Unleaded,NaN,NaN,NaN,Switzerland » Neuenburgersee » Cudrefin,"Compass,Fire Extinguisher,Full Enclosure,Radio...",2020-05-14
4,"CHF 3.480,-",Fishing Boat,Marine power boats,14 M - Ruder u. Motorboot,NaN,new boat from stock,NaN,NaN,4.13,1.41,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,Aluminium,NaN,NaN,NaN,bis 10 PS motorisierbar (Permission for Lake o...,NaN,NaN,NaN,NaN,NaN,NaN,Switzerland » Lake of Zurich » Stäfa am Zürichsee,NaN,2020-03-10

In [36]:
new_price=pd.DataFrame(new_price,columns=['Price_CHF'])
train_val = new_price.merge(train_val,left_index=True, right_index=True)
# left_index : bool, default False, use the index from the left DataFrame as the join key(s). If it is a MultiIndex, the number of keys in the other DataFrame (either the index or a number of columns) must match the number of levels.
# right_index : bool, default False, use the index from the right DataFrame as the join key. Same caveats as left_index.
train_val

,Price_CHF,Price,Boat Type,Manufacturer,Model,Boat name,Type,Year Built,Condition,Length (m),Width (m),Depth (m),CE Design Category,Cert Number of People,Number of Cabins,Number of beds,Hull Color,Number of Toilets,Number of Bathrooms,Number of Showers,Material,Fresh Water Cap (l),Holding Tank (l),Propulsion,Engine,Engine Performance,Fuel Capacity (l),Fuel Type,Engine Hours,Max Speed,Cruising Speed,Location,Equipment,Advertisement Date
0,3664.50,"EUR 3.490,-",Center console boat,Terhi power boats,400 C,NaN,new boat from stock,2020.0,new,4.00,1.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Thermoplastic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Germany » Bönningstedt,NaN,2020-08-19
1,3626.00,"DKK 25.900,-",Sport Boat,Pioner power boats,10 Classic Special Edition,NaN,new boat from stock,2020.0,NaN,3.00,1.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Denmark » Svendborg,NaN,2020-08-01
2,3568.95,"EUR 3.399,-",Fishing Boat,Linder power boats,355 Sportsman,NaN,new boat from stock,2019.0,new,3.55,1.46,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,Aluminium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Germany » Bayern » München,NaN,2020-02-03
3,3500.00,"CHF 3.500,-",Sport Boat,Four Winns power boats,170 Freedom,NaN,"Used boat,Unleaded",1991.0,good,5.60,2.20,NaN,NaN,6.0,NaN,NaN,NaN,NaN,NaN,NaN,GRP,NaN,NaN,Sterndrive,OMC Cobra,1 x 130 HP / 96 kW,80.0,Unleaded,NaN,NaN,NaN,Switzerland » Neuenburgersee » Cudrefin,"Compass,Fire Extinguisher,Full Enclosure,Radio...",2020-05-14
4,3480.00,"CHF 3.480,-",Fishing Boat,Marine power boats,14 M - Ruder u. Motorboot,NaN,new boat from stock,NaN,NaN,4.13,1.41,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,Aluminium,NaN,NaN,NaN,bis 10 PS motorisierbar (Permission for Lake o...,NaN,NaN,NaN,NaN,NaN,NaN,Switzerland » Lake of Zurich » Stäfa am Zürichsee,NaN,2020-03-10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5179,4950.00,"CHF 4.950,-",Fishing Boat,Staempfli power boats,622,NaN,"Used boat,Unleaded",1984.0,well-groomed,6.00,1.62,NaN,NaN,6.0,NaN,NaN,NaN,NaN,NaN,NaN,Plastic,NaN,NaN,"Outboard, four-stroke",Honda BF8D4,1 x 8 HP / 5.9 kW,NaN,Unleaded,NaN,NaN,NaN,Switzerland » Bielersee » Gerolfingen,"Full Enclosure,Trailer",2020-03-24
5180,4900.00,"CHF 4.900,-",Sport Boat,Sea Ray power boats,Monaco 200,NaN,"Used boat,Unleaded",1987.0,used,6.30,2.44,NaN,NaN,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sterndrive,OMC 574,1 x 264 HP / 194 kW,NaN,Unleaded,NaN,NaN,NaN,Switzerland » Lago Maggiore » Riazzino,NaN,2020-05-03
5181,4741.80,"EUR 4.516,-",Sport Boat,NaN,FOX BOATS 420C EC,NaN,new boat from stock,NaN,NaN,4.17,1.68,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GRP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Germany » Hamburg » HAMBURG,NaN,2020-03-25
5182,4723.95,"EUR 4.499,-",Sport Boat,BlueCraft power boats,BlueSloep 140,NaN,"new boat from stock,Unleaded",2020.0,NaN,4.40,1.80,0.22,NaN,5.0,NaN,NaN,black wie gewünscht,NaN,NaN,NaN,GRP,NaN,NaN,NaN,(Permission for Lake of Constance),NaN,12.0,Unleaded,NaN,NaN,NaN,Germany » Nordrhein-Westfalen » Wesel,NaN,2020-11-15
5183,3780.00,"CHF 3.780,-",Fishing Boat,DarekCo power boats,Texas 360,NaN,new boat from stock,2019.0,new,3.60,1.60,NaN,NaN,4.0,NaN,NaN,white,NaN,NaN,NaN,GRP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Switzerland » Brienzersee » Brienz,NaN,2020-05-30

In [42]:
duplicated_boat=train_val[train_val.duplicated(subset=features_analyze_duplicates,keep=False)].reset_index(drop=True)
duplicated_boat

,Price_CHF,Price,Boat Type,Manufacturer,Model,Boat name,Type,Year Built,Condition,Length (m),Width (m),Depth (m),CE Design Category,Cert Number of People,Number of Cabins,Number of beds,Hull Color,Number of Toilets,Number of Bathrooms,Number of Showers,Material,Fresh Water Cap (l),Holding Tank (l),Propulsion,Engine,Engine Performance,Fuel Capacity (l),Fuel Type,Engine Hours,Max Speed,Cruising Speed,Location,Equipment,Advertisement Date
0,12460.00,"DKK 89.000,-",Sport Boat,Crescent power boats,465 Trader,NaN,new boat from stock,2019.0,NaN,4.00,1.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yamaha F25GETL,1 x 25 HP / 18 kW,NaN,NaN,NaN,NaN,NaN,Denmark » Svendborg,NaN,2020-03-04
1,12460.00,"DKK 89.000,-",Launch,NaN,Fjordjollen 500 Classic,NaN,new boat from stock,2020.0,NaN,4.00,2.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yamaha F15CEL,1 x 15 HP / 11 kW,NaN,NaN,NaN,NaN,NaN,Denmark » Svendborg,NaN,2020-08-01
2,13298.60,"DKK 94.990,-",Launch,NaN,Fjordjollen 470 Sport,NaN,new boat from stock,2020.0,NaN,4.00,1.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yamaha F20GEL,1 x 20 HP / 15 kW,NaN,NaN,NaN,NaN,NaN,Denmark » Svendborg,NaN,2020-05-16
3,17029.95,"EUR 16.219,-",Deck Boat,Jeanneau power boats,CAP CAMARAT 5.5 WA SERIE 2,NaN,"new boat from stock,Unleaded",NaN,NaN,5.48,2.36,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,GRP,NaN,NaN,NaN,NaN,NaN,NaN,Unleaded,NaN,NaN,NaN,Germany » 1,NaN,2020-10-13
4,26000.00,"CHF 26.000,-",Sport Boat,Windy power boats,7500,NaN,"Used boat,Unleaded",1990.0,good,7.55,2.51,NaN,NaN,8.0,NaN,NaN,white white,NaN,NaN,NaN,GRP,NaN,NaN,Sterndrive,Volvo Penta 570 A,1 x 245 HP / 180 kW,NaN,Unleaded,NaN,NaN,NaN,Switzerland » Luganersee » Caslano,NaN,2020-12-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54,22680.00,"DKK 162.000,-",Cabin Boat,Crescent power boats,535 Classic 2020,NaN,new boat from stock,2020.0,NaN,5.00,2.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yamaha F40FETL,1 x 25 HP / 18 kW,NaN,NaN,NaN,NaN,NaN,Denmark » Svendborg,NaN,2020-12-29
55,17920.00,"DKK 128.000,-",Launch,NaN,Fjordjollen 500 Classic,NaN,new boat from stock,2020.0,NaN,4.00,2.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yamaha F30BETL,1 x 30 HP / 22 kW,NaN,NaN,NaN,NaN,NaN,Denmark » Svendborg,NaN,2020-01-11
56,17000.00,"CHF 17.000,-",Sport Boat,Windy power boats,7500,NaN,"Used boat,Unleaded",1990.0,good,7.55,2.51,NaN,C - Inshore,8.0,NaN,NaN,white,NaN,NaN,NaN,GRP,NaN,NaN,Sterndrive,Mercruiser 5.7 L,1 x 234 HP / 172 kW,NaN,Unleaded,800.0,NaN,NaN,Switzerland » Luganersee » Caslano,NaN,2020-11-07
57,15398.60,"DKK 109.990,-",Launch,NaN,Fjordjollen 470 Sport,NaN,new boat from stock,2020.0,NaN,4.00,1.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yamaha F30BETL,1 x 30 HP / 22 kW,NaN,NaN,NaN,NaN,NaN,Denmark » Svendborg,NaN,2020-06-21
58,7280.00,"DKK 52.000,-",Sport Boat,Crescent power boats,465 Trader,NaN,new boat from stock,2019.0,NaN,4.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Denmark » Svendborg,NaN,2020-07-05

In [44]:
# train_val is the complimentary part of the duplicates
train_val=train_val[~train_val.duplicated(subset=features_analyze_duplicates,keep=False)].reset_index(drop=True)
train_val

,Price_CHF,Price,Boat Type,Manufacturer,Model,Boat name,Type,Year Built,Condition,Length (m),Width (m),Depth (m),CE Design Category,Cert Number of People,Number of Cabins,Number of beds,Hull Color,Number of Toilets,Number of Bathrooms,Number of Showers,Material,Fresh Water Cap (l),Holding Tank (l),Propulsion,Engine,Engine Performance,Fuel Capacity (l),Fuel Type,Engine Hours,Max Speed,Cruising Speed,Location,Equipment,Advertisement Date
0,3664.50,"EUR 3.490,-",Center console boat,Terhi power boats,400 C,NaN,new boat from stock,2020.0,new,4.00,1.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Thermoplastic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Germany » Bönningstedt,NaN,2020-08-19
1,3626.00,"DKK 25.900,-",Sport Boat,Pioner power boats,10 Classic Special Edition,NaN,new boat from stock,2020.0,NaN,3.00,1.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Denmark » Svendborg,NaN,2020-08-01
2,3568.95,"EUR 3.399,-",Fishing Boat,Linder power boats,355 Sportsman,NaN,new boat from stock,2019.0,new,3.55,1.46,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,Aluminium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Germany » Bayern » München,NaN,2020-02-03
3,3500.00,"CHF 3.500,-",Sport Boat,Four Winns power boats,170 Freedom,NaN,"Used boat,Unleaded",1991.0,good,5.60,2.20,NaN,NaN,6.0,NaN,NaN,NaN,NaN,NaN,NaN,GRP,NaN,NaN,Sterndrive,OMC Cobra,1 x 130 HP / 96 kW,80.0,Unleaded,NaN,NaN,NaN,Switzerland » Neuenburgersee » Cudrefin,"Compass,Fire Extinguisher,Full Enclosure,Radio...",2020-05-14
4,3480.00,"CHF 3.480,-",Fishing Boat,Marine power boats,14 M - Ruder u. Motorboot,NaN,new boat from stock,NaN,NaN,4.13,1.41,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,Aluminium,NaN,NaN,NaN,bis 10 PS motorisierbar (Permission for Lake o...,NaN,NaN,NaN,NaN,NaN,NaN,Switzerland » Lake of Zurich » Stäfa am Zürichsee,NaN,2020-03-10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5095,4950.00,"CHF 4.950,-",Fishing Boat,Staempfli power boats,622,NaN,"Used boat,Unleaded",1984.0,well-groomed,6.00,1.62,NaN,NaN,6.0,NaN,NaN,NaN,NaN,NaN,NaN,Plastic,NaN,NaN,"Outboard, four-stroke",Honda BF8D4,1 x 8 HP / 5.9 kW,NaN,Unleaded,NaN,NaN,NaN,Switzerland » Bielersee » Gerolfingen,"Full Enclosure,Trailer",2020-03-24
5096,4900.00,"CHF 4.900,-",Sport Boat,Sea Ray power boats,Monaco 200,NaN,"Used boat,Unleaded",1987.0,used,6.30,2.44,NaN,NaN,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sterndrive,OMC 574,1 x 264 HP / 194 kW,NaN,Unleaded,NaN,NaN,NaN,Switzerland » Lago Maggiore » Riazzino,NaN,2020-05-03
5097,4741.80,"EUR 4.516,-",Sport Boat,NaN,FOX BOATS 420C EC,NaN,new boat from stock,NaN,NaN,4.17,1.68,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GRP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Germany » Hamburg » HAMBURG,NaN,2020-03-25
5098,4723.95,"EUR 4.499,-",Sport Boat,BlueCraft power boats,BlueSloep 140,NaN,"new boat from stock,Unleaded",2020.0,NaN,4.40,1.80,0.22,NaN,5.0,NaN,NaN,black wie gewünscht,NaN,NaN,NaN,GRP,NaN,NaN,NaN,(Permission for Lake of Constance),NaN,12.0,Unleaded,NaN,NaN,NaN,Germany » Nordrhein-Westfalen » Wesel,NaN,2020-11-15
5099,3780.00,"CHF 3.780,-",Fishing Boat,DarekCo power boats,Texas 360,NaN,new boat from stock,2019.0,new,3.60,1.60,NaN,NaN,4.0,NaN,NaN,white,NaN,NaN,NaN,GRP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Switzerland » Brienzersee » Brienz,NaN,2020-05-30

In [45]:
duplicated_boat['dupkey_id']=duplicated_boat.groupby(by=features_analyze_duplicates, sort=False,dropna=False).ngroup()+1
duplicated_boat.head(10)

,Price_CHF,Price,Boat Type,Manufacturer,Model,Boat name,Type,Year Built,Condition,Length (m),Width (m),Depth (m),CE Design Category,Cert Number of People,Number of Cabins,Number of beds,Hull Color,Number of Toilets,Number of Bathrooms,Number of Showers,Material,Fresh Water Cap (l),Holding Tank (l),Propulsion,Engine,Engine Performance,Fuel Capacity (l),Fuel Type,Engine Hours,Max Speed,Cruising Speed,Location,Equipment,Advertisement Date,dupkey_id
0,12460.00,"DKK 89.000,-",Sport Boat,Crescent power boats,465 Trader,NaN,new boat from stock,2019.0,NaN,4.00,1.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yamaha F25GETL,1 x 25 HP / 18 kW,NaN,NaN,NaN,NaN,NaN,Denmark » Svendborg,NaN,2020-03-04,1
1,12460.00,"DKK 89.000,-",Launch,NaN,Fjordjollen 500 Classic,NaN,new boat from stock,2020.0,NaN,4.00,2.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yamaha F15CEL,1 x 15 HP / 11 kW,NaN,NaN,NaN,NaN,NaN,Denmark » Svendborg,NaN,2020-08-01,2
2,13298.60,"DKK 94.990,-",Launch,NaN,Fjordjollen 470 Sport,NaN,new boat from stock,2020.0,NaN,4.00,1.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yamaha F20GEL,1 x 20 HP / 15 kW,NaN,NaN,NaN,NaN,NaN,Denmark » Svendborg,NaN,2020-05-16,3
3,17029.95,"EUR 16.219,-",Deck Boat,Jeanneau power boats,CAP CAMARAT 5.5 WA SERIE 2,NaN,"new boat from stock,Unleaded",NaN,NaN,5.48,2.36,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,GRP,NaN,NaN,NaN,NaN,NaN,NaN,Unleaded,NaN,NaN,NaN,Germany » 1,NaN,2020-10-13,4
4,26000.00,"CHF 26.000,-",Sport Boat,Windy power boats,7500,NaN,"Used boat,Unleaded",1990.0,good,7.55,2.51,NaN,NaN,8.0,NaN,NaN,white white,NaN,NaN,NaN,GRP,NaN,NaN,Sterndrive,Volvo Penta 570 A,1 x 245 HP / 180 kW,NaN,Unleaded,NaN,NaN,NaN,Switzerland » Luganersee » Caslano,NaN,2020-12-06,5
5,41790.00,"EUR 39.800,-",Center console boat,Bénéteau power boats,FLYER 6 SPACEDECK,NaN,"new boat from stock,Unleaded",2020.0,NaN,6.04,2.26,NaN,NaN,NaN,NaN,NaN,White,NaN,NaN,NaN,PVC,NaN,NaN,NaN,MERCURY,1 x 115 HP / 85 kW,NaN,Unleaded,NaN,NaN,NaN,"France » ARZON, France","Bilge Pump,Cockpit Table,Deck Shower,Depth Ins...",2020-10-28,6
6,57225.00,"EUR 54.500,-",Motor Yacht,Airon Marine power boats,Airon 325,NaN,"Used boat,Diesel",2005.0,NaN,9.78,3.10,0.60,NaN,10.0,1.0,2.0,Blu,NaN,NaN,NaN,GRP,NaN,NaN,NaN,Volvo Penta,2 x 160 HP / 118 kW,425.0,Diesel,NaN,NaN,NaN,"Italy » Marche - Umbria » Ancona, Marche","Anchor,Battery,Battery Charger,Bimini Top,Comp...",2020-04-18,7
7,62475.00,"EUR 59.500,-",Cabin Boat,Jeanneau power boats,6.5 DC Serie 2,NaN,"new boat from stock,Unleaded",2020.0,new,6.90,2.48,NaN,NaN,NaN,NaN,NaN,white white,NaN,NaN,NaN,GRP,NaN,NaN,"Outboard, four-stroke",Yamaha F 150 DETL EFI,1 x 150 HP / 110 kW,170.0,Unleaded,NaN,NaN,NaN,Germany » Bayern » Boote Pfister Schwebheim / ...,NaN,2020-01-02,8
8,63042.00,"EUR 60.040,-",Bowrider,Sea Ray power boats,210,NaN,"new boat from stock,Unleaded",2020.0,NaN,6.55,2.54,0.86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GRP,NaN,NaN,NaN,1 x 250 HP / 184 kW,1 x 250 HP / 184 kW,NaN,Unleaded,NaN,NaN,NaN,Germany » Berlin » Sea Ray Berlin,NaN,2020-04-14,9
9,63042.00,"EUR 60.040,-",Bowrider,Sea Ray power boats,210,NaN,"new boat from stock,Unleaded",2020.0,NaN,6.55,2.54,0.86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GRP,NaN,NaN,NaN,1 x 250 HP / 184 kW,1 x 250 HP / 184 kW,NaN,Unleaded,NaN,NaN,NaN,Germany » Berlin » Sea Ray Berlin,NaN,2020-10-11,9

In [49]:
duplicated_boat['dupkey_id']

0      1
1      2
2      3
3      4
4      5
      ..
54    25
55     2
56     5
57     3
58     1
Name: dupkey_id, Length: 59, dtype: int64

In [48]:
duplicated_boat[['dupkey_id','Price_CHF'] + cols_sort].sort_values(by='dupkey_id')[:4]

,dupkey_id,Price_CHF,Model,Type,Year Built,Location,Equipment,Price_CHF,Price,Boat Type,Manufacturer,Boat name,Condition,Length (m),Width (m),Depth (m),CE Design Category,Cert Number of People,Number of Cabins,Number of beds,Hull Color,Number of Toilets,Number of Bathrooms,Number of Showers,Material,Fresh Water Cap (l),Holding Tank (l),Propulsion,Engine,Engine Performance,Fuel Capacity (l),Fuel Type,Engine Hours,Max Speed,Cruising Speed,Advertisement Date
0,1,12460.0,465 Trader,new boat from stock,2019.0,Denmark » Svendborg,NaN,12460.0,"DKK 89.000,-",Sport Boat,Crescent power boats,NaN,NaN,4.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yamaha F25GETL,1 x 25 HP / 18 kW,NaN,NaN,NaN,NaN,NaN,2020-03-04
58,1,7280.0,465 Trader,new boat from stock,2019.0,Denmark » Svendborg,NaN,7280.0,"DKK 52.000,-",Sport Boat,Crescent power boats,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-07-05
1,2,12460.0,Fjordjollen 500 Classic,new boat from stock,2020.0,Denmark » Svendborg,NaN,12460.0,"DKK 89.000,-",Launch,NaN,NaN,NaN,4.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yamaha F15CEL,1 x 15 HP / 11 kW,NaN,NaN,NaN,NaN,NaN,2020-08-01
55,2,17920.0,Fjordjollen 500 Classic,new boat from stock,2020.0,Denmark » Svendborg,NaN,17920.0,"DKK 128.000,-",Launch,NaN,NaN,NaN,4.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yamaha F30BETL,1 x 30 HP / 22 kW,NaN,NaN,NaN,NaN,NaN,2020-01-11

In [51]:
mean_Price=pd.DataFrame(duplicated_boat.groupby(by=['dupkey_id'],dropna=False)['Price_CHF'].mean()).reset_index(drop=True)

In [53]:
duplicated_boat=duplicated_boat.drop_duplicates(subset='dupkey_id',keep='first').reset_index(drop=True)

In [55]:
duplicated_boat.drop(columns='Price_CHF', inplace=True)

In [56]:
duplicated_boat_clean=duplicated_boat.merge(mean_Price,how='left',left_index=True,right_index=True)
duplicated_boat_clean.head()

,Price,Boat Type,Manufacturer,Model,Boat name,Type,Year Built,Condition,Length (m),Width (m),Depth (m),CE Design Category,Cert Number of People,Number of Cabins,Number of beds,Hull Color,Number of Toilets,Number of Bathrooms,Number of Showers,Material,Fresh Water Cap (l),Holding Tank (l),Propulsion,Engine,Engine Performance,Fuel Capacity (l),Fuel Type,Engine Hours,Max Speed,Cruising Speed,Location,Equipment,Advertisement Date,dupkey_id,Price_CHF
0,"DKK 89.000,-",Sport Boat,Crescent power boats,465 Trader,NaN,new boat from stock,2019.0,NaN,4.00,1.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yamaha F25GETL,1 x 25 HP / 18 kW,NaN,NaN,NaN,NaN,NaN,Denmark » Svendborg,NaN,2020-03-04,1,9870.00
1,"DKK 89.000,-",Launch,NaN,Fjordjollen 500 Classic,NaN,new boat from stock,2020.0,NaN,4.00,2.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yamaha F15CEL,1 x 15 HP / 11 kW,NaN,NaN,NaN,NaN,NaN,Denmark » Svendborg,NaN,2020-08-01,2,15190.00
2,"DKK 94.990,-",Launch,NaN,Fjordjollen 470 Sport,NaN,new boat from stock,2020.0,NaN,4.00,1.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yamaha F20GEL,1 x 20 HP / 15 kW,NaN,NaN,NaN,NaN,NaN,Denmark » Svendborg,NaN,2020-05-16,3,14348.60
3,"EUR 16.219,-",Deck Boat,Jeanneau power boats,CAP CAMARAT 5.5 WA SERIE 2,NaN,"new boat from stock,Unleaded",NaN,NaN,5.48,2.36,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,GRP,NaN,NaN,NaN,NaN,NaN,NaN,Unleaded,NaN,NaN,NaN,Germany » 1,NaN,2020-10-13,4,24821.65
4,"CHF 26.000,-",Sport Boat,Windy power boats,7500,NaN,"Used boat,Unleaded",1990.0,good,7.55,2.51,NaN,NaN,8.0,NaN,NaN,white white,NaN,NaN,NaN,GRP,NaN,NaN,Sterndrive,Volvo Penta 570 A,1 x 245 HP / 180 kW,NaN,Unleaded,NaN,NaN,NaN,Switzerland » Luganersee » Caslano,NaN,2020-12-06,5,21500.00

In [60]:
train_val=pd.concat(train_val[cols_sort+['Price_CHF']], duplicated_boat_clean[cols_sort+['Price_CHF']], axis=0)

SyntaxError: ignored

In [ ]:
from sklearn.model_selection import train_test_split
train,validation=train_test_split(train_val, test_size=0.33,random_state=42)