<a href="https://colab.research.google.com/github/kristy25/AcademyPublic/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# helloworld

In [1]:
!pip install -q kaggle
from google.colab import files
files.upload()
#create a kaggle folder
!mkdir ~/.kaggle
# Go on kaggle > Account > Create New API token
# Save the json file in your laptop in a dedicated folder
# copy the kaggle.json to folder created
!cp kaggle.json ~/.kaggle
#permission for the json to act
!chmod 600 ~/.kaggle/kaggle.json
# Datasets available here: 
# https://www.kaggle.com/avikpaul4u/vehicle-loan-default-prediction
!kaggle datasets download -d avikpaul4u/vehicle-loan-default-prediction
!unzip vehicle-loan-default-prediction.zip
# https://www.kaggle.com/uciml/red-wine-quality-cortez-et-al-2009
!kaggle datasets download -d uciml/red-wine-quality-cortez-et-al-2009
!unzip red-wine-quality-cortez-et-al-2009.zip

Saving kaggle.json to kaggle.json
Downloading vehicle-loan-default-prediction.zip to /content
 43% 5.00M/11.6M [00:00<00:00, 16.4MB/s]
100% 11.6M/11.6M [00:00<00:00, 35.7MB/s]
Archive:  vehicle-loan-default-prediction.zip
  inflating: Data Dictionary.xlsx
  inflating: test.csv
  inflating: train.csv
Downloading red-wine-quality-cortez-et-al-2009.zip to /content
  0% 0.00/25.6k [00:00<?, ?B/s]
100% 25.6k/25.6k [00:00<00:00, 22.8MB/s]
Archive:  red-wine-quality-cortez-et-al-2009.zip
  inflating: winequality-red.csv

In [2]:
import pandas as pd # Here I import a library named pandas which is specialized in
# data manipulation. I give an alias pd it is a kind of pseudonyme where pd refers to pandas.
import numpy as np
df = pd.read_csv('/content/winequality-red.csv')

In [4]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [5]:
21//2
21**2
21%2

1

In [ ]:
21**2

441

In [ ]:
a=3
b=5

In [ ]:
a==4

False

In [ ]:
a<2

False

In [ ]:
cities = ['shanghai','rome','london']
cities

['shanghai', 'rome', 'london']

In [ ]:
type(cities)

list

In [ ]:
cities[0]

'shanghai'

In [ ]:
print(cities[0])

shanghai

In [ ]:
cities[-1]

'london'

In [ ]:
cities[-2]

'rome'

In [ ]:
cities[1]='milan'

In [ ]:
cities[1]

'milan'

In [ ]:
cities

['shanghai', 'milan', 'london']

In [ ]:
cities.insert(1,'paris')
cities

['shanghai', 'paris', 'milan', 'london']

In [ ]:
cities.append('munich')

In [ ]:
cities

['shanghai', 'paris', 'milan', 'london', 'munich']

In [ ]:
cities.remove('paris')
cities

['shanghai', 'milan', 'london', 'munich']

In [ ]:
cities.insert(-1,'paris')
print(cities)
cities.remove('munich')
print(cities)

['shanghai', 'milan', 'london', 'paris', 'munich']
['shanghai', 'milan', 'london', 'paris']

In [ ]:
cities.insert(-1,'new')

In [ ]:
cities

['shanghai', 'milan', 'london', 'new', 'paris']

In [ ]:
cities.insert(0,'new')
cities

['new', 'shanghai', 'milan', 'london', 'new', 'paris']

In [ ]:
cities.index('shanghai')

1

In [ ]:
cities.insert(len(cities),'again')

In [ ]:
cities

['new', 'shanghai', 'milan', 'london', 'new', 'paris', 'again']

In [ ]:
cities.insert(1,286)

In [ ]:
cities

['new', 286, 'shanghai', 'milan', 'london', 'new', 'paris', 'again']

In [ ]:
var = 0
if var>0:
  print("positive")
elif var==0:
  print('zero')
else:
  print('negative')

zero

In [ ]:
a='me'
b='me'
a is b

True

In [ ]:
list = [1,2,3,4,5,6,7]

In [ ]:
fruits = ['apple','orange','banana']
for i in fruits:
  print(i)

apple
orange
banana

In [ ]:
list_of_list = [['a','b','c'],[1,2,3,4]]
list_of_list

[['a', 'b', 'c'], [1, 2, 3, 4]]

In [ ]:
for i in list_of_list:
  print("print list", i)

  for j in i:
    print("print sub list",j)

print list ['a', 'b', 'c']
print sub list a
print sub list b
print sub list c
print list [1, 2, 3, 4]
print sub list 1
print sub list 2
print sub list 3
print sub list 4

In [ ]:
def area(len,width):
  if len * width <= 0:
    return print("wrong")
  else:
    return len * width

In [ ]:
area(-10,20)

wrong

In [ ]:
area(11,22)

242

In [ ]:
# remove multiple numbers with the same value
list=[1,5,6,2,50,2,4,50,5,4,9,50]

toRemove=50

new_list=[value for value in list if value!=toRemove]
new_list

[1, 5, 6, 2, 2, 4, 5, 4, 9]

In [ ]:
list=[1,5,6,2,50,2,4,50,5,4,9,50]

toRemove=50

new_list=[i for i in list if i!=toRemove]
new_list

[1, 5, 6, 2, 2, 4, 5, 4, 9]

In [6]:
print ("oggi e venerdi")

oggi e venerdi

In [7]:
# pandas is a library which is specialized in data manipulation
import pandas as pd
import numpy as np

In [8]:
# function read_csv from the pandas package and assign it to a database (also called dataframe) named df)
df = pd.read_csv('/content/winequality-red.csv')

In [9]:
# below the dataframe is converted to an interactive table
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [10]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [11]:
df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [12]:
df.head(10)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
5,7.4,0.66,0.00,1.8,0.075,13.0,40.0,0.9978,3.51,0.56,9.4,5
6,7.9,0.60,0.06,1.6,0.069,15.0,59.0,0.9964,3.30,0.46,9.4,5
7,7.3,0.65,0.00,1.2,0.065,15.0,21.0,0.9946,3.39,0.47,10.0,7
8,7.8,0.58,0.02,2.0,0.073,9.0,18.0,0.9968,3.36,0.57,9.5,7
9,7.5,0.50,0.36,6.1,0.071,17.0,102.0,0.9978,3.35,0.80,10.5,5

In [13]:
df.tail(10)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1589,6.6,0.725,0.20,7.8,0.073,29.0,79.0,0.99770,3.29,0.54,9.2,5
1590,6.3,0.550,0.15,1.8,0.077,26.0,35.0,0.99314,3.32,0.82,11.6,6
1591,5.4,0.740,0.09,1.7,0.089,16.0,26.0,0.99402,3.67,0.56,11.6,6
1592,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1593,6.8,0.620,0.08,1.9,0.068,28.0,38.0,0.99651,3.42,0.82,9.5,6
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [14]:
# take 3 samples, but the samples would refresh each time the code is run
df.sample(3)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
845,6.4,0.640,0.21,1.8,0.081,14.0,31.0,0.99689,3.59,0.66,9.8,5
273,8.4,0.715,0.20,2.4,0.076,10.0,38.0,0.99735,3.31,0.64,9.4,5
1112,7.9,0.330,0.41,1.5,0.056,6.0,35.0,0.99396,3.29,0.71,11.0,6

In [17]:
# give a specific name to random_state, so that it always shows the same random rows
df.sample(3,random_state=150)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
559,13.0,0.470,0.49,4.3,0.085,6.0,47.0,1.00210,3.30,0.68,12.7,6
843,7.1,0.685,0.35,2.0,0.088,9.0,92.0,0.99630,3.28,0.62,9.4,5
219,7.8,0.530,0.33,2.4,0.080,24.0,144.0,0.99655,3.30,0.60,9.5,5

In [22]:
df.sample(3,random_state=100)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1254,7.8,0.70,0.06,1.9,0.079,20.0,35.0,0.99628,3.40,0.69,10.9,5
1087,7.9,0.19,0.42,1.6,0.057,18.0,30.0,0.99400,3.29,0.69,11.2,6
822,6.7,0.54,0.13,2.0,0.076,15.0,36.0,0.99730,3.61,0.64,9.8,5

In [20]:
# can be used to check whether the data types are changed during data manipulation
# float is with decimals
df.dtypes

fixed acidity           float64
volatile acidity        float64
citric acid             float64
residual sugar          float64
chlorides               float64
free sulfur dioxide     float64
total sulfur dioxide    float64
density                 float64
pH                      float64
sulphates               float64
alcohol                 float64
quality                   int64
dtype: object

In [23]:
# useful to check the data, if the min is below a certain range
df.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

In [24]:
# .info is similar to .dtypes, but including information on missing
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [26]:
df.shape

(1599, 12)

In [28]:
# number of lines
len(df)

1599

In [29]:
df['fixed acidity'].head()

0     7.4
1     7.8
2     7.8
3    11.2
4     7.4
Name: fixed acidity, dtype: float64

In [30]:
# doesn't work for variable name with space
df.fixed acidity.head()

SyntaxError: ignored

In [34]:
df.density.head()

0    0.9978
1    0.9968
2    0.9970
3    0.9980
4    0.9978
Name: density, dtype: float64

In [49]:
df.iloc[0]

fixed acidity            7.4000
volatile acidity         0.7000
citric acid              0.0000
residual sugar           1.9000
chlorides                0.0760
free sulfur dioxide     11.0000
total sulfur dioxide    34.0000
density                  0.9978
pH                       3.5100
sulphates                0.5600
alcohol                  9.4000
quality                  5.0000
Name: 0, dtype: float64

In [91]:
df.loc[0]

fixed acidity            7.4000
volatile acidity         0.7000
citric acid              0.0000
residual sugar           1.9000
chlorides                0.0760
free sulfur dioxide     11.0000
total sulfur dioxide    34.0000
density                  0.9978
pH                       3.5100
sulphates                0.5600
alcohol                  9.4000
quality                  5.0000
Name: 0, dtype: float64

In [58]:
df.loc[:,'fixed acidity']

0        7.4
1        7.8
2        7.8
3       11.2
4        7.4
        ...
1594     6.2
1595     5.9
1596     6.3
1597     5.9
1598     6.0
Name: fixed acidity, Length: 1599, dtype: float64

In [32]:
# for more than 1 variable, need double []
df[['fixed acidity','density']].head()

   fixed acidity  density
0            7.4   0.9978
1            7.8   0.9968
2            7.8   0.9970
3           11.2   0.9980
4            7.4   0.9978

In [90]:
df.loc[:,'fixed acidity']

0        7.4
1        7.8
2        7.8
3       11.2
4        7.4
        ...
1594     6.2
1595     5.9
1596     6.3
1597     5.9
1598     6.0
Name: fixed acidity, Length: 1599, dtype: float64

In [33]:
df['fixed acidity']>7

0        True
1        True
2        True
3        True
4        True
        ...
1594    False
1595    False
1596    False
1597    False
1598    False
Name: fixed acidity, Length: 1599, dtype: bool

In [43]:
# to embed a condition (df['fixed acidity') inside df to get the sub dataframe
df[df['fixed acidity']>7]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1576,8.0,0.30,0.63,1.6,0.081,16.0,29.0,0.99588,3.30,0.78,10.8,6
1580,7.4,0.35,0.33,2.4,0.068,9.0,26.0,0.99470,3.36,0.60,11.9,6
1585,7.2,0.39,0.44,2.6,0.066,22.0,48.0,0.99494,3.30,0.84,11.5,6
1586,7.5,0.31,0.41,2.4,0.065,34.0,60.0,0.99492,3.34,0.85,11.4,6
1588,7.2,0.66,0.33,2.5,0.068,34.0,102.0,0.99414,3.27,0.78,12.8,6

In [41]:
mask1=df['fixed acidity']>7
mask1

0        True
1        True
2        True
3        True
4        True
        ...
1594    False
1595    False
1596    False
1597    False
1598    False
Name: fixed acidity, Length: 1599, dtype: bool

In [42]:
df[mask1]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1576,8.0,0.30,0.63,1.6,0.081,16.0,29.0,0.99588,3.30,0.78,10.8,6
1580,7.4,0.35,0.33,2.4,0.068,9.0,26.0,0.99470,3.36,0.60,11.9,6
1585,7.2,0.39,0.44,2.6,0.066,22.0,48.0,0.99494,3.30,0.84,11.5,6
1586,7.5,0.31,0.41,2.4,0.065,34.0,60.0,0.99492,3.34,0.85,11.4,6
1588,7.2,0.66,0.33,2.5,0.068,34.0,102.0,0.99414,3.27,0.78,12.8,6

In [60]:
# between (left, right, inclusive='both'), by default it's both
temp=df[df['fixed acidity'].between (7,8)]

In [51]:
df[df['fixed acidity'].between (7,10,'left')]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
5,7.4,0.66,0.00,1.8,0.075,13.0,40.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1576,8.0,0.30,0.63,1.6,0.081,16.0,29.0,0.99588,3.30,0.78,10.8,6
1580,7.4,0.35,0.33,2.4,0.068,9.0,26.0,0.99470,3.36,0.60,11.9,6
1585,7.2,0.39,0.44,2.6,0.066,22.0,48.0,0.99494,3.30,0.84,11.5,6
1586,7.5,0.31,0.41,2.4,0.065,34.0,60.0,0.99492,3.34,0.85,11.4,6
1588,7.2,0.66,0.33,2.5,0.068,34.0,102.0,0.99414,3.27,0.78,12.8,6

In [52]:
df[df['fixed acidity'].between (7,10,'right')]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
5,7.4,0.66,0.00,1.8,0.075,13.0,40.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1576,8.0,0.30,0.63,1.6,0.081,16.0,29.0,0.99588,3.30,0.78,10.8,6
1580,7.4,0.35,0.33,2.4,0.068,9.0,26.0,0.99470,3.36,0.60,11.9,6
1585,7.2,0.39,0.44,2.6,0.066,22.0,48.0,0.99494,3.30,0.84,11.5,6
1586,7.5,0.31,0.41,2.4,0.065,34.0,60.0,0.99492,3.34,0.85,11.4,6
1588,7.2,0.66,0.33,2.5,0.068,34.0,102.0,0.99414,3.27,0.78,12.8,6

In [55]:
df[df['fixed acidity'].between (7,10,'right')].describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,984.000000,984.000000,984.000000,984.000000,984.000000,984.000000,984.000000,984.000000,984.000000,984.000000,984.000000,984.000000
mean,8.216260,0.535193,0.260783,2.467226,0.090821,16.306911,50.574187,0.996767,3.298059,0.652744,10.249526,5.582317
std,0.833187,0.182603,0.169777,1.201407,0.054574,10.216816,35.483646,0.001471,0.120047,0.184898,0.991030,0.789898
min,7.100000,0.120000,0.000000,0.900000,0.038000,1.000000,6.000000,0.990070,2.740000,0.330000,8.500000,3.000000
25%,7.500000,0.400000,0.120000,1.900000,0.073000,8.000000,23.000000,0.995915,3.220000,0.540000,9.500000,5.000000
50%,8.000000,0.530000,0.260000,2.200000,0.080000,14.000000,42.000000,0.996800,3.300000,0.610000,9.900000,5.000000
75%,8.900000,0.645000,0.390000,2.600000,0.091000,23.000000,68.250000,0.997603,3.372500,0.720000,10.900000,6.000000
max,10.000000,1.580000,1.000000,13.800000,0.611000,53.000000,289.000000,1.002420,3.670000,2.000000,14.000000,8.000000

In [68]:
temp[['pH','quality']].sample(n=100,random_state=150)

        pH  quality
42    3.21        6
1472  3.38        6
334   3.34        7
1081  3.01        7
1398  3.52        7
...    ...      ...
1313  3.40        6
1299  3.50        3
1560  3.21        5
808   3.26        5
1580  3.36        6

[100 rows x 2 columns]

In [69]:
temp[['pH','quality']].sample(n=100,random_state=150).nunique()

pH         37
quality     5
dtype: int64

In [84]:
# | mean or
mask3 = ((df['residual sugar']<=1.9) | (df['residual sugar'] >=2.3)) & df['sulphates'] <0.7301
mask3

0       False
1       False
2       False
3       False
4       False
        ...
1594     True
1595     True
1596    False
1597     True
1598    False
Length: 1599, dtype: bool

In [81]:
temp=df[mask3]
temp

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
8,7.8,0.580,0.02,2.0,0.073,9.0,18.0,0.99680,3.36,0.57,9.5,7
29,7.8,0.645,0.00,2.0,0.082,8.0,16.0,0.99640,3.38,0.59,9.8,6
37,8.1,0.380,0.28,2.1,0.066,13.0,30.0,0.99680,3.23,0.73,9.7,7
43,8.1,0.660,0.22,2.2,0.069,9.0,23.0,0.99680,3.30,1.20,10.3,5
45,4.6,0.520,0.15,2.1,0.054,8.0,65.0,0.99340,3.90,0.56,13.1,4
...,...,...,...,...,...,...,...,...,...,...,...,...
1575,7.5,0.520,0.40,2.2,0.060,12.0,20.0,0.99474,3.26,0.64,11.8,6
1583,6.2,0.460,0.29,2.1,0.074,32.0,98.0,0.99578,3.33,0.62,9.8,5
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5

In [82]:
temp.max()

fixed acidity            15.0000
volatile acidity          1.5800
citric acid               0.7200
residual sugar            2.2500
chlorides                 0.4220
free sulfur dioxide      51.0000
total sulfur dioxide    153.0000
density                   1.0008
pH                        3.9000
sulphates                 1.9800
alcohol                  14.0000
quality                   8.0000
dtype: float64

In [86]:
def acid_cat(x):
  if x<0.21:
    return 'A'
  elif x<0.3:
    return 'B'
  else:
    return 'C'

In [87]:
df['citric acid'].max()

1.0

In [88]:
acid_cat(df['citric acid'].max())

'C'

In [96]:
df['new citric cat']=df['citric acid'].apply(lambda x: acid_cat(x))
df[['new citric cat','citric acid']].sample(10)

     new citric cat  citric acid
786               C         0.41
472               C         0.55
663               C         0.46
129               A         0.15
1270              A         0.01
1216              C         0.31
542               B         0.24
856               C         0.39
783               A         0.14
1486              B         0.21

In [98]:
df.dtypes

fixed acidity           float64
volatile acidity        float64
citric acid             float64
residual sugar          float64
chlorides               float64
free sulfur dioxide     float64
total sulfur dioxide    float64
density                 float64
pH                      float64
sulphates               float64
alcohol                 float64
quality                   int64
new citric cat           object
dtype: object

In [99]:
df['new citric cat'].dtypes

dtype('O')

In [102]:
df1=df.drop(columns=['new citric cat','chlorides'])
df1

,fixed acidity,volatile acidity,citric acid,residual sugar,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [103]:
df2=df.drop(columns='new citric cat')
df2

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [114]:
mask4 = (((df['residual sugar']<=1.9) | (df['residual sugar'] >=2.3)) & (df['sulphates'] <0.7301) & (df['new citric cat']=='B'))
df[mask4]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,new citric cat
26,7.6,0.41,0.24,1.8,0.080,4.0,11.0,0.99620,3.28,0.59,9.500000,5,B
34,5.2,0.32,0.25,1.8,0.103,13.0,50.0,0.99570,3.38,0.55,9.200000,5,B
48,6.4,0.40,0.23,1.6,0.066,5.0,12.0,0.99580,3.34,0.56,9.200000,5,B
72,7.7,0.69,0.22,1.9,0.084,18.0,94.0,0.99610,3.31,0.48,9.500000,5,B
87,7.7,0.49,0.26,1.9,0.062,9.0,31.0,0.99660,3.39,0.64,9.600000,5,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1493,7.7,0.54,0.26,1.9,0.089,23.0,147.0,0.99636,3.26,0.59,9.700000,5,B
1496,7.7,0.54,0.26,1.9,0.089,23.0,147.0,0.99636,3.26,0.59,9.700000,5,B
1501,7.8,0.82,0.29,4.3,0.083,21.0,64.0,0.99642,3.16,0.53,9.400000,5,B
1514,6.9,0.84,0.21,4.1,0.074,16.0,65.0,0.99842,3.53,0.72,9.233333,6,B
1515,6.9,0.84,0.21,4.1,0.074,16.0,65.0,0.99842,3.53,0.72,9.250000,6,B

In [108]:
list_to_keep = ['A','B']

In [112]:
# isin
#value_counts()
mask6=((df['sulphates'] <0.7301) & df['new citric cat'].isin(list_to_keep))
df[mask6]['new citric cat'].value_counts()

A    553
B    218
Name: new citric cat, dtype: int64

In [115]:
# ~ is to take the complementary
mask6=((df['sulphates'] <0.7301) & (~df['new citric cat'].isin(list_to_keep)))
df[mask6]['new citric cat'].value_counts()

C    442
Name: new citric cat, dtype: int64

In [117]:
mask6=((df['sulphates'] <0.7301) & (df['new citric cat']!='A'))
df[mask6]['new citric cat'].value_counts()

C    442
B    218
Name: new citric cat, dtype: int64

In [126]:
df['Y1']=np.where(df['quality']>=7,1,0)
df['Y2']=np.where(df['quality']>=7,1,df['quality'])
df=df.drop(columns='Y')
df.sample(10)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,new citric cat,Y1,Y2
118,8.8,0.550,0.04,2.2,0.119,14.0,56.0,0.99620,3.21,0.60,10.9,6,A,0,6
878,8.8,0.610,0.19,4.0,0.094,30.0,69.0,0.99787,3.22,0.50,10.0,6,A,0,6
285,9.9,0.590,0.07,3.4,0.102,32.0,71.0,1.00015,3.31,0.71,9.8,5,A,0,5
589,10.2,0.290,0.49,2.6,0.059,5.0,13.0,0.99760,3.05,0.74,10.5,7,C,1,1
1317,9.9,0.440,0.46,2.2,0.091,10.0,41.0,0.99638,3.18,0.69,11.9,6,C,0,6
1527,7.1,0.530,0.07,1.7,0.071,15.0,24.0,0.99510,3.29,0.66,10.8,6,A,0,6
1207,9.9,0.720,0.55,1.7,0.136,24.0,52.0,0.99752,3.35,0.94,10.0,5,C,0,5
861,5.8,1.010,0.66,2.0,0.039,15.0,88.0,0.99357,3.66,0.60,11.5,6,C,0,6
1164,9.0,0.785,0.24,1.7,0.078,10.0,21.0,0.99692,3.29,0.67,10.0,5,B,0,5
1231,7.8,0.815,0.01,2.6,0.074,48.0,90.0,0.99621,3.38,0.62,10.8,5,A,0,5